body {
    background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	/* font-size:0.7em; */
	font-size:10px;
	font-weight:normal;
	margin:0px;
	padding:0px;
    color:#323131;
	top:0px;
}
.decoded {
    background-color: #FFFFFF;
    color: #222222;
}
.img-load {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.workUpdate{
	font-family:Arial, Helvetica, sans-serif;
    color:#900401;
	font-size:15px;
    font-weight:bold;
}
.print_name{
	color:#383939;  
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
}
.print_company{
	color:#383939;  
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
}
.print_addr{
	color:#6a6b6b;  
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-size:15px;
    font-weight:normal;
}
.print_phone{
	color:#6a6b6b;  
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
} 

.table_width{
	width:1000px;

}


#content_div {
    background-color:#FFFFFF;
    z-index:1;
}
.inline_popup{
	position:fixed;bottom:0px;left:0px;z-index:2;
}
div.error-message {
    background-color: #DDDDDD;
    border: 2px solid #DA0404;
    color: #F2F2F2;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    left: -40px;
    padding: 4px 5px 4px 8px;
    top: -25px;
    width: 150px;
}
/* BO: Login Page */
.error {
	color:#FF0000;
	font-family:Arial, Verdana, sans-serif;
	font-size:12px;
}
.notice {
	color:#FF6633;
	font-family:Arial, Verdana, sans-serif;
	font-size:12px;
}
.alert{
    color:#ffffff;
	font-family: Arial, Verdana, sans-serif;
	font-size:12px;
	font-weight:bold;
    }

.alert a{
    color:#ffffff;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:30px;
    }

.alert a:hover{
	color:#ffffff;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:30px;
}
.alert-task{
    color:#ff110b;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:30px;
    }

.alert-task a{
    color:#ff110b;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:30px;
    }

.alert-task a:hover{
	color:#ff110b;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:30px;
}

.small-alert{
    color:#ff110b;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:14px;
    }

.small-alert a{
    color:#ff110b;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:14px;
    }

.small-alert a:hover{
	color:#ff110b;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:14px;
}

.notification-alert{
    color:#f2f3eb;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:12px;
    }

.notification-alert a{
    color:#f2f3eb;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:12px;
    }

.notification-alert a:hover{
	color:#f2f3eb;
	font-family: "Lucida Sans","Trebuchet MS", Georgia, Verdana, sans-serif;
	font-size:12px;
}
/* EO: Login Page */


/* BO: Header */
#header {
	background-color:#602;
	background-image:url(../../../media/images/nc/header_b.gif);
	background-repeat:repeat-x;
	background-position:left bottom;
	height:70px;
	margin:0px;
	padding:0px;
	width:100%;
}
#header h1 {
	background-image: url(../../../media/images/nc/nerve-center.jpg);
	background-repeat: no-repeat;
	background-position:left;
	height: 70px;
    margin: 0;
    padding: 0;
	text-indent: -5000px;
	width: 300px !important;
}

#user {
	float:right;
    font-size:13px;
	padding:20px 10px 10px 10px;
}
#user .username {
	color:#FFFFFF;
	font-family:"Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	font-weight:400;
}
#user .number {
    font-weight:bold;
}
#user a.logout {
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	font-family:"Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	font-size:1em;
	font-weight:bold;
	padding:1px 5px 1px 5px;
	text-decoration:none;
}
#user a.logout:hover {
	background-color:#000000;
}
#user .time {
	color:#FFFFFF;
	font-size:1em;
	font-weight:normal;
}
/* EO: Header */

/* BO: Top Menu */
#navigation {
	height:20px;
	padding:3px 3px 3px 3px;
}
#navigation table {
	font-size:1em;
	width:100%;
}
#navigation td.left{
	background-image:url(../../../media/images/nc/corner_left.gif);
	background-repeat:no-repeat;
	background-position:left;
	height:20px;
	width:15px;
}
#navigation td.center{
	background-image:url(../../../media/images/nc/links.gif);
	background-repeat:repeat-x;vertical-align:middle;
	height:20px;
	width:100%;
}
#navigation td.right{
	background-image:url(../../../media/images/nc/corner_right.gif);
	background-repeat:no-repeat;
	background-position:right;
	float:right;
	height:20px;
	width:5px;
}

#links {
	height:20px;
	position:relative;
}
#links a {
	background-image:url(../../../media/images/nc/links.gif);
	background-position:0px 0px;
	background-repeat:repeat-x;
	color:#E6E6E6;
	font-weight:bold;
	height:20px;
	line-height:inherit;
	padding-left:5px;
	padding-right:5px;
	
	margin:0px;
	position:relative;
	text-decoration:none;
}
#links a:hover {
	background-position:0px -20px;
	color:#FFFFFF;
}
#links a.selected, #links a.selected:hover {
	background-image:url(../../../media/images/nc/links.gif);
	background-position:0px -40px;
	color:#FFFFFF;
	vertical-align:text-bottom;
}

#navigation-sub {
	height:15px;
	padding:3px 10px 3px 10px;
	border-bottom:1px dotted #000000;
}
#navigation-sub a {
	color:#000000;
	font-weight:normal;
	padding:1px 2px 4px 4px;
	text-decoration:none;
}
#navigation-sub a:hover {
	background-image:url(../../../media/images/nc/underline.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	color:#CC0000;
	text-decoration:none;
}
#navigation-sub a.selected {
	background-image:url(../../../media/images/nc/underline.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	color:#CC0000;
	padding:1px 2px 4px 4px;
	text-decoration:none;
}
/* EO: Top Menu */


#container {
	/*border:1px solid #232323;*/
	margin:0px;
	/*padding:5px 5px 5px 5px;*/
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-weight:normal;
	z-index:1;
}
#container table {	
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.05em;
	font-weight:normal;
	color:#555555;	
}

/* BO: Search */
#container #search {
	border:1px solid #CCCCCC;
	padding:1px 1px 1px 1px;
}
#container #search span {
	padding-left:5px;
	padding-right:5px;
	vertical-align:baseline;
}
#container #search .button {
	border:2px outset #CC0023;
	background-color:#CC0023;
	color:#FFFFFF;
	cursor:pointer;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
}
#container #search select.inputbox {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
}

#tableSearch {
    background-color:#fff; /* #EFEFEF */
    border-top:1px solid #CC0022;
    margin-top:2px;
    padding: 12px 2px 2px 2px;
}
#tableSearch td.table_text {
    vertical-align:bottom;
    height:20px;
}
/* EO: Search */

.hidden {
    display:none;
}
.visible {
    display:block;
}
.clear {
    /*  hack to get the container div to grow vertically to contain all child divs - apply to a br tag */
    clear: both; 
    line-height: 0px;
}
.txt12 {font-size:12px;}
.txt09 {font-size:9px;}
.txt08 {font-size:8px;}
.txthelp {
    color:#ff771d;
    font-size:9px;
    font-style:Arial;
}
.txtfield {
	font-family:Arial, Helvetica, sans-serif;
    color:#CC5555;
	font-size:11px;
    font-weight:bold;
}

.bold {font-weight:bold;}
.center {text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
.vb {vertical-align:bottom;}
.vt {vertical-align:top;}
.star{
    color:#FF0000;
    font-size:12px;
    font-style:normal;
    font-weight:bold;
}
.highlight {background-color:#BAFCBA; }
.dashboard-box-background {background-color:#CCCCCC; }
.menu_combo {
    border:1px solid #999999;
    font-size:1em;
}
.pre_color {
    color:#CC0022;
}

.pr2 {padding-right:2px;}
.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr25 {padding-right:25px;}
.pr50 {padding-right:50px;}

.pl2 {padding-left:2px;}
.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl25 {padding-left:25px;}
.pl50 {padding-left:50px;}
.pl80 {padding-left:80px;}
.pl100 {padding-left:100px;}


.pt1 {padding-top:1px;}
.pt2 {padding-top:2px;}
.pt5 {padding-top:5px;}
.pb1 {padding-bottom:1px;}
.pb2 {padding-bottom:2px;}
.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}

.bd1 {border:1px solid #DDDDDD;}


.w800{width:800px;}
.w650{width:650px;}
.w500{width:500px;}
.w400{width:400px;}
.w350{width:350px;}
.w250{width:250px;}
.w200{width:200px;}
.w150{width:150px;}
.w160{width:160px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w200{width:200px;}
.w200{width:250px;}
.w200{width:250px;}
.w80{width:80px;}
.w70{width:70px;}
.w60{width:60px;}
.w50{width:50px;}
.w25{width:25px;}
.w15{width:15px;}
.w10{width:10px;}


.wp100{width:100%;}
.wp80{width:80%;}
.wp90{width:90%;}
.wp70{width:70%;}
.wp65{width:65%;}
.wp60{width:60%;}
.wp50{width:50%;}
.wp40{width:40%;}
.wp35{width:35%;}
.wp30{width:30%;}
.wp15{width:15%;}
.wp20{width:20%;}
.wp15{width:15%;}
.wp25{width:25%;}
.wp10{width:10%;}
.wp5{width:5%;}
.wp2{width:2%;}


.spacer{background:url("{/literal}{$variables.images}{literal}/spacer.gif") repeat;}
.bg1{background-color:#121211;}
.bg2{background-color:#CCCCCC;}
.bg3{background-color:#F34838;}
.bg4{background-color:#675675;}
.bg5{background-color:#956565;}
.bg6{background-color:#BEBE74;}

.bdb1{border-bottom:1px solid #000000;}

.b {font-weight:bold;}

.al {text-align:left;}
.ac {text-align:center;}
.ar {text-align:right;}

.vt {vertical-align:top;}
.vm {vertical-align:middle;}
.vb {vertical-align:bottom;}

.fs08 {font-size:0.8em;}
.fs11 {font-size:1.1em;}
.fs15 {font-size:1.5em;}
.fst11{font-size:1.1em; font-family:'Arial Narrow',Verdana,Arial,Sans-Serif;}


.lh25 {line-height:2.5em;}
.lh20 {line-height:2.0em;}
.lh18 {line-height:1.8em;}
.lh15 {line-height:1.5em;}
.lh10 {line-height:1em;}

.pl2{padding-left:2px;}
.pl5{padding-left:5px;}
.pl60{padding-left:60px;}

.pr2{padding-right:2px;}
.pr5{padding-right:5px;}
.pr15{padding-right:15px;}

.pb2{padding-bottom:2px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}

.pt2{padding-top:2px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}

a {
  color:#9e0602;
  /* color:#2f88e3;  */
  font-size:11px;
  font-weight:normal;
  text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
input.inputbox {
    border:1px solid #cecece;
	height:25px;    
    font-family:Arial, sans-serif;
    font-size:13px;
    elevation:below;
    text-indent:5px;
}
input.inputbox_c {
    background-color:transparent;   
	border:none;
    font-family:Arial, sans-serif;
    font-size:13px;
    elevation:below;
    text-indent:5px;
}

select.inputbox {
    border-right: 1px solid #cecece;
	border-top: 1px solid #cecece; 
	border-left: 1px solid #cecece;
	border-bottom: 1px solid #cecece; 
    background-color:#ffffff;
	font-family:Arial, sans-serif;
    font-size:12px;
	 
}
textarea.inputbox {    
	border-right: 1px solid #cecece;
	border-top: 1px solid #cecece; 
	border-left: 1px solid #cecece;
	border-bottom: 1px solid #cecece;     
    font-family:Arial, sans-serif;
    font-size:13px; 
    text-indent:5px;
}

div.row {
    clear:both;
    float:left;
}

div.coloumn {
    float:left;
}

#example-transparency {  

   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* ie8 supports both; this variant doesn't work if meta tag below used */ 

   filter:alpha(opacity=75); /* for internet explorer <= 7, and 8 when <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> */ 
   -moz-opacity:0.75; /* for older gecko browsers */ 
  -khtml-opacity: 0.75; /* for older webkit browsers */ 
   opacity: 0.75; /* CSS3 standard */ 
   background-color: #000;  
   position: absolute;  
   margin-top: 40px;  
   height: 50px;  
   width: 600px;  

}  

#example-transparency1 {  

   color: #fff;  
   font-weight: bold;  
   text-align: center;  
   margin-top: 15px;  

} 

/*2011-03-mar-18 */

div.coloumn_rt {
    float:right;
    clear: right;
}
div.tbl_form {
    background-color:#EFEFEF;
    border:1px 1px 1px 1px solid #CFCFCF;
}
div.subtbl_form {
    background-color:#EFEFEF;
    border:1px 1px 1px 1px solid #333333;
}
div.row {
    clear:both;
    float:left;
}
div.div_even {
    background-color: #FCFCFC;	 
}
div.div_odd{
    background-color:#F6FBFF;	
}
div.div_column {
    float:left;
	border:1px 0px 1px 0px solid #CFCFCF;
    vertical-align:top;
    text-align:left;
}
div.div_column_rt {
    float:right;
	border:1px 0px 1px 0px solid #CFCFCF;
    vertical-align:top;    
}

div.on_over{
  background-color: #FFFFFF;	 
}
/*2011-03-mar-18 */

table.tbl_form {
    background-color:#EFEFEF;
    border:1px solid #CFCFCF;
}

table.tbl_form tr {
    
}
table.tbl_form tr.even {
    background-color: #FCFCFC;
}
table.tbl_form tr.odd{
    background-color:#F6FBFF;
}
table.tbl_form td {
    padding:5px 5px 5px 5px;
    vertical-align:top;
    text-align:left;
}
table.blue {
    background-color:#CED2D4;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    text-align:left;
    width:100%;
}
table.blue td.heading { 
    background-color:#F1F5F8;
    /*color:#666666;*/
    color:#000000;
    font-weight:bold;
    line-height:25px;
    padding-left:5px;
}

table.details {
    background-color:transparent;
    text-align:left;
    width:100%;
}
table.details tr.heading {
    background-color:#FFFFFF;
    height:20px;
}
table.details td.heading {
    color:#666666;
    cursor:pointer;
    font-weight:bold;
    padding:2px 5px 2px 5px;
    text-align:right;
    vertical-align:top;
}

table.details_box {
    background-color:#B8CFD5;
    text-align:left;
    width:100%;
}
table.details_box tr.even {
    background-color:#F9FCFE;
}
table.details_box tr.odd {
    background-color:#FFFFFF;
}
table.details_box td.title {
    color:#666666;
    font-weight:normal;
    padding:2px 0px 2px 5px;
    text-align:left;
    vertical-align:top;
}
table.details_box td.value {
    color:#333333;
    font-weight:normal;
    padding:2px 0px 2px 5px;
    text-align:left;
    vertical-align:top;
}

 
/* BO: Action Buttons */
a.link_button {
	/*BORDER-BOTTOM: #5e1a14 1px solid;*/
	/*BORDER-BOTTOM: #FFFFFF 1px solid;
	BORDER-TOP: #FFFFFF 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid; TEXT-DECORATION: none; 	
	BORDER-LEFT: #FFFFFF 1px solid; 	*/
	WIDTH: 85px;
	HEIGHT: 20px; 		
	/*FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BD5E54', endColorstr='#90322A',GradientType=0 );
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969595', endColorstr='#5c5c5c',GradientType=0 ); */	
	LINE-HEIGHT: 20px; 
	TEXT-TRANSFORM: uppercase; 
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px; 
	PADDING-TOP: 0px; 	
	DISPLAY: block; 
	WHITE-SPACE: nowrap; 
	/*BACKGROUND: #bd5e54;*/
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	margin-top:4px;
	margin-left:4px;
	margin-right:4px;
	/* text-shadow: #222 0 1px 0; */
	/* background: -moz-linear-gradient(center top , #BD5E54 0%, #90322A 60%) repeat scroll 0 0 transparent;  
    background: -moz-linear-gradient(center top , #b90703 0%, #e86670 95%) repeat scroll 0 0 transparent; */
    /*background: -moz-linear-gradient(center top , #e25960 30%, #b52524 85% ) repeat scroll 0 0 transparent;*/
    background: -moz-linear-gradient(center top , #666666 30%, #333333 85% ) repeat scroll 0 0 transparent;
    /*border: 1px solid #5E1A14;*/
    border: 1px solid #333333;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align:center;
/*     min-width: 60px; */
    text-decoration: none;
   /*  text-shadow: 0 1px 0 #222222; */
    text-transform: uppercase;
    white-space: nowrap;
}
a.link_button:hover {
	/*FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#969595',GradientType=0 ); */
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 ); 
	BACKGROUND: #c6c6c6;  
	text-decoration: none;
    /*  
    background: -moz-linear-gradient(center top , #C6C6C6 0%, #5C5C5C 7%, #969595 86%) repeat scroll 0 0 transparent; */
    /*background: -moz-linear-gradient(center top , #b52524 30%, #e25960 85%) repeat scroll 0 0 transparent; */
    background: -moz-linear-gradient(center top , #333333 30%, #666666 85%) repeat scroll 0 0 transparent; 
    color: #FFFFFF;
}

a.link_button:focus {
	/*FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#969595',GradientType=0 ); */
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 ); 
	BACKGROUND: #c6c6c6;  
	text-decoration: none;
   /*  
   background: -moz-linear-gradient(center top , #C6C6C6 0%, #5C5C5C 7%, #969595 86%) repeat scroll 0 0 transparent; */
   /*background: -moz-linear-gradient(center top , #b52524 30%, #e25960 85%) repeat scroll 0 0 transparent; */
	background: -moz-linear-gradient(center top , #333333 30%, #666666 85%) repeat scroll 0 0 transparent;    
   color: #FFFFFF;
}
a.link_button:active {
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#969595',GradientType=0 );
	BACKGROUND: #c6c6c6;  
	text-decoration: none;
   /*  
   background: -moz-linear-gradient(center top , #C6C6C6 0%, #5C5C5C 7%, #969595 86%) repeat scroll 0 0 transparent; */
   /*background: -moz-linear-gradient(center top , #b52524 30%, #e25960 85%) repeat scroll 0 0 transparent; */
   background: -moz-linear-gradient(center top , #333333 30%, #666666 85%) repeat scroll 0 0 transparent; 
   color: #FFFFFF;
}


a.link_selected {
	/*BORDER-BOTTOM: #5e1a14 1px solid;*/
	/*BORDER-BOTTOM: #FFFFFF 1px solid;
	BORDER-TOP: #FFFFFF 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid; TEXT-DECORATION: none; 	
	BORDER-LEFT: #FFFFFF 1px solid; 	*/
	WIDTH: 85px;
	HEIGHT: 20px; 		
	/*FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BD5E54', endColorstr='#90322A',GradientType=0 );
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969595', endColorstr='#5c5c5c',GradientType=0 ); */	
	LINE-HEIGHT: 20px; 
	TEXT-TRANSFORM: uppercase; 
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px; 
	PADDING-TOP: 0px; 	
	DISPLAY: block; 
	WHITE-SPACE: nowrap; 
	/*BACKGROUND: #bd5e54;*/
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	margin-top:4px;
	margin-left:4px;
	margin-right:4px;
	/* text-shadow: #222 0 1px 0; */
	/* background: -moz-linear-gradient(center top , #BD5E54 0%, #90322A 60%) repeat scroll 0 0 transparent;  
    background: -moz-linear-gradient(center top , #b90703 0%, #e86670 95%) repeat scroll 0 0 transparent; */
    background: -moz-linear-gradient(center top , #e25960 30%, #b52524 85% ) repeat scroll 0 0 transparent;
  /*   background: -moz-linear-gradient(center top , #666666 30%, #333333 85% ) repeat scroll 0 0 transparent; */
    border: 1px solid #b52524;
    /*border: 1px solid #333333;*/
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align:center;
/*     min-width: 60px; */
    text-decoration: none;
   /*  text-shadow: 0 1px 0 #222222; */
    text-transform: uppercase;
    white-space: nowrap;
}
a.link_selected:hover {
	/*FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#969595',GradientType=0 ); */
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 ); 
	BACKGROUND: #c6c6c6;  
	text-decoration: none;
    /*  
    background: -moz-linear-gradient(center top , #C6C6C6 0%, #5C5C5C 7%, #969595 86%) repeat scroll 0 0 transparent; */
    background: -moz-linear-gradient(center top , #b52524 30%, #e25960 85%) repeat scroll 0 0 transparent; 
   /* background: -moz-linear-gradient(center top , #333333 30%, #666666 85%) repeat scroll 0 0 transparent; */
    color: #FFFFFF;
}

/* BO: Action Buttons */
a.link_top_nav_button {
	/*BORDER-BOTTOM: #5e1a14 1px solid;*/
	/*BORDER-BOTTOM: #FFFFFF 1px solid;
	BORDER-TOP: #FFFFFF 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid; TEXT-DECORATION: none; 	
	BORDER-LEFT: #FFFFFF 1px solid; 	*/
	WIDTH: 75px;
	HEIGHT: 18px; 		
	/*FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BD5E54', endColorstr='#90322A',GradientType=0 ); */
	LINE-HEIGHT: 20px; 
	TEXT-TRANSFORM: uppercase; 
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px; 
	PADDING-TOP: 0px; 	
	DISPLAY: block; 
	WHITE-SPACE: nowrap; 
	/*BACKGROUND: #bd5e54;*/
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	margin-top:4px;
	margin-left:4px;
	margin-right:4px;
	/* text-shadow: #222 0 1px 0; */
	/* background: -moz-linear-gradient(center top , #BD5E54 0%, #90322A 60%) repeat scroll 0 0 transparent;  
    background: -moz-linear-gradient(center top , #b90703 0%, #e86670 95%) repeat scroll 0 0 transparent; */
    /*background: -moz-linear-gradient(center top , #e25960 30%, #b52524 85% ) repeat scroll 0 0 transparent; */
    border: 1px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align:center;
/*     min-width: 60px; */
    text-decoration: none;
   /*  text-shadow: 0 1px 0 #222222; */
    text-transform: uppercase;
    white-space: nowrap;
}
a.link_top_nav_button:hover {
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#969595',GradientType=0 ); 
	BACKGROUND: #c6c6c6;  
	text-decoration: none;
    /*  
    background: -moz-linear-gradient(center top , #C6C6C6 0%, #5C5C5C 7%, #969595 86%) repeat scroll 0 0 transparent; */
    background: -moz-linear-gradient(center top , #b52524 30%, #e25960 85%) repeat scroll 0 0 transparent; 
    color: #FFFFFF;
}

a.link_top_nav_button:focus {
	/*FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#969595',GradientType=0 ); */
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#5c5c5c',GradientType=0 ); 
	BACKGROUND: #c6c6c6;  
	text-decoration: none;
   /*  
   background: -moz-linear-gradient(center top , #C6C6C6 0%, #5C5C5C 7%, #969595 86%) repeat scroll 0 0 transparent; */
   background: -moz-linear-gradient(center top , #b52524 30%, #e25960 85%) repeat scroll 0 0 transparent; 
   color: #FFFFFF;
}
a.link_top_nav_button:active {
	/*FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#969595',GradientType=0 ); */
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#5c5c5c',GradientType=0 ); 
	BACKGROUND: #c6c6c6;  
	text-decoration: none;
   /*  
   background: -moz-linear-gradient(center top , #C6C6C6 0%, #5C5C5C 7%, #969595 86%) repeat scroll 0 0 transparent; */
   background: -moz-linear-gradient(center top , #b52524 30%, #e25960 85%) repeat scroll 0 0 transparent; 
   color: #FFFFFF;
}






a.graybutton{
	/* 	
	background-color:#bab7b7;
 	background-color:#900401;  */
}
a.addnew {
   background-color:#900401; 
   
}
/* EO: Action Buttons */

/* EO: Pagiantion */
#pagination div {
	padding-bottom:10px;
	padding-top:10px;	
    text-align	: left;
}
#pagination span {
	padding-left:2px;
	padding-right:2px;
}
#pagination span.selected {
	font-size:12px;
	font-weight:bold;
}
#pagination .inputbox{
	font-size:9px;
}
#pagination .button{
	border:2px outset #CC0023;
	background-color:#CC0023;
	color:#FFFFFF;
	cursor:pointer;
	font-size:9px;
	font-weight:bold;
	padding-left:1px;
	padding-right:1px;
}
#pagination a {
	border:1px solid #666666;
	color:#000000;
	padding:1px 3px 1px 3px;
	text-decoration:none;
}
#pagination a:hover{
	background-color:#000000;
	color:#FFFFFF;
}
/* EO: Pagiantion */

/* BO: list Table */
#container table.list {
	background-color:#999999;
	
}
#container table.list tr.header{
	background-color:#555555;/*#CC0023*/
	color:#FFFFFF;
	font-weight:bold;
	line-height:15px;
    text-align:center;
}
#container table.list tr.even{
	background-color:#F3F3F3;
	color:#000000;
    text-align:left;
}
#container table.list tr.odd{
	background-color:#FFFFFF;
	color:#000000;
    text-align:left;
}
#container table.list tr.on_over{
	background-color:#FFFBD7;
	color:#000000;
	font-family:Arial, 'San serif';
	font-size:11px;
	font-weight:regular;
	
}
#container table.list tr.highlight{
	text-align:left;
}


#container table.list td{
    padding-left:5px;
    padding-right:5px;
}
#container table.list a {
     /* color: #CC0023;  */
	 color:#9e0602;
    /*color: #2f88e3;*/
	/*padding-left: 3px;*/
    text-decoration: none;
}
#container table.list a:hover {
    /* color: #CC0023; */
	color:#9e0602;
    /* color: #2f88e3;  */
    text-decoration: underline;
}
/* EO: list Table */

#window_loading {
	height:100%;
	position:absolute;
	text-align:center;
	vertical-align:middle;
	width:100%;
	z-index:100;
}
#window_float {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-weight:normal;
	height:100%;
	position:absolute;
	text-align:center;
	vertical-align:middle;
	width:100%;
	z-index:20;
}
#window_float table{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	font-weight:normal;
}
/*#window_float .inputbox {
	padding-left:1px;
}*/
#window_float .button{
	border:2px outset #CC0023;
	background-color:#CC0023;
	color:#FFFFFF;
	cursor:pointer;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
}

#window_inactive {
	background-image: url(../../../media/images/nc/semi-transparent.gif); /*semi-transparent-b.gif*/
	background-repeat:repeat;
	height:100%;
	left:0px;
	position:absolute;
	top:0px;
	width:100%;
	z-index:10;
}

table.loading {
	background-color:#D5ECF7;
	border:1px solid #3D97FA;
	min-height:100px;
	min-width:200px;
}

/* EO: Error Messages Styles */
#table_message_ok {
    border: #00aa00 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
    width: 450px;
}
#table_message_ok .message_header_ok {
    background-color: #BAFCBA;
    border-bottom:#00AA00 1px solid;
    font-weight:bold;
    text-align:left;
    vertical-align:middle;
}
#table_message_ok .message_ok {
    color: #00AA00;
}
#table_message_ok .message_ok_2 {
    margin-left: 20px;
    padding-left: 0px;
}

#table_message_error {
    border: #FF0000 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
    width: 450px;
}
#table_message_error .message_error_header {
    background-color: #FFA9A9;
	border-bottom:#FF0000 1px solid;
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
}
#table_message_error .message_error {
    color:#FF0000;
	margin-left:10px;
}
/* EO: Error Messages Styles */

/* BO: Footer */
#footer {
	background-color: #FFFFFF;
	background-image: url(../../../media/images/nc/smeerp-footer-left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	border-top: 1px #999999 solid;
	clear: both;
	padding:5px 5px 0px 0px;
	position: relative;
	margin: auto;
    margin-top: 10px;
}
#footer p {
    margin: 0 0 0 70px;
    padding: 10px 0 5px 15px;
    color: #999999;
    font-size: 10px;
}
/* BO: Footer */




/* Table Grid Blue */
#table_grid_blue{   
    /*background-color:#B8CFD5; */
    background-color:#CED2D4;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    text-align:left;    
}
#table_grid_blue tr.even{
    /*background-color: #F6FBFF;
    background-color: #E1F5FE;*/
    /*background-color: #FeFeFe;*/
    background-color:#FCFCFC;
}
#table_grid_blue tr.odd{
    /*background-color: #EDF6FD;*/
    /*background-color: #BFE9FD;*/
    background-color: #FCFCFC;
}
#table_grid_blue tr.highlited{
    /*background-color: #EDF6FD;*/
    /*background-color: #BFE9FD;*/
    background-color: #BAFCBA;
}
#table_grid_blue tr.on_over{
    background-color:#FCFCDA;
	text-align:left;
}
#table_grid_blue tr.header{
    background-color:#F1F5F8;
    color:#666666;  
    font-weight:bold;
    padding-left:5px;
    cursor:pointer;
    line-height:15px;
}
#table_grid_blue td.header{
    /*background-color: #AFE5FF;*/
    background-color:#E7F3F8;
    color:#666666;  
    font-weight:bold;
    padding-left:5px;
    /*cursor:pointer;*/
    line-height:25px;
}
#table_grid_blue td.headtext{
    background-color:#F1F5F8;
    font-size:12px;         
    color:#666666;  
    font-weight:bold;
    padding-left:5px;
    line-height:25px;
}
#table_grid_blue td.normaltext{     
    color:#333333;  
    font-weight:normal;
    padding:2px 0px 2px 5px;
    
}
#table_grid_blue td.normaltext_img{     
    color:#666666;  
    font-weight:normal;
    text-align:center;
    padding:2px 0px 2px 0px;
}
#table_grid_blue a:link, #table_grid_blue a:active, #table_grid_blue a:visited{ 
    color:#FF6600;
    font-size:11px;
    text-decoration:none;
}
#table_grid_blue a:hover{   
    color:#FF6600;
    font-size:11px;
    text-decoration:underline;
}
#table_grid_blue .button{
    /*background-image:url("../../media/images/admin/btn_bg.gif");*/
    width:91px;
    height:21px;
    /*border:0px solid #FFFFFF;*/
    font-family:"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
    font-size:13px;
    font-weight:normal;
    /*background-color:transparent;*/
    /*margin:5px 0px 5px 0px;*/
    cursor:pointer;
}
#table_grid_blue .longbutton{
    background-image:url("../../media/images/admin/btn_lbg.gif");
    width:120px;
    height:21px;
    border:0px solid #FFFFFF;
    font-family:"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
    font-size:13px;
    font-weight:normal;
    background-color:transparent;
    cursor:pointer;
}
#table_grid_blue table td.normaltext{       
    color:#666666;  
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:normal;
    padding:2px 0px 2px 5px;    
}
.normaltext{
 font-family:Arial, 'San serif';
 font-size:11px;
 font-weight:regular;
 color:#4e4c4c;
}


/*
div.comments{
	float:left;
	text-align:left;
	width:60%;
}*/

div.comments{
	float:left;
	text-align:left;
	width:500px;
}
div.assignto {
	clear:both;
	padding:0px 0px 0px 10px;
	text-align:left;
}
div.unit_comments {
	clear:both;
	padding:10px 5px 40px 10px;
	text-align:left;
}
div.comments .name{
	color:#333333;
	float:left;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.6em;
	font-weight:bold;
	width:200px;
}
div.comments .date{
	color:#777777;
	float:left;
	font-family:Arial,Helvetica,Sans-Serif;
	font-size:0.9em;
	font-weight:bold;
	padding-left:35px;
	padding-top:8px;
	text-align:left;
	vertical-align:bottom;
}

div.comments .comment_text{
	clear:both;
	color:#333333;
	/*float:left;*/
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.1em;
	font-weight:normal;
	padding-top:2px;
	text-align:justify;
}
/*
div.order_details{
	float:left;
	padding:10px 5px 5px 0px;
	margin-left:4%;
	text-align:left;
	width:35%;
}*/
div.order_details{
	float:left;
	padding:10px 5px 5px 0px;
	margin-left:10px;
	text-align:left;
	width:200;
}
div.order_details .key {
	clear:both;
	color:#333333;
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.1em;
	font-weight:normal;
	padding:2px 0px 2px 2px;
	width:90px;
}
div.order_details .srs {
	clear:both;
	color:#333333;
	float:left;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.6em;
	font-weight:bold;
	padding:2px 0px 2px 5px;
	width:90px;
}
div.order_details .value {
	color:#333333;
	float:left;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.1em;
	font-weight:bold;
	padding:2px 0px 2px 5px;
}

div.order_details .new_comment {
	clear:both;
	color:#333333;
	float:left;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.4em;
	font-weight:bold;
	padding:10px 5px 5px 10px;
}
div.order_details .commentbox{
	clear:both;
	color:#333333;
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.0em;
	font-weight:normal;
	width:350px;
}

div.srs_details {
	clear:both;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
}
div.srs_details .text{
	clear:both;
	color:#333333;
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.1em;
	font-weight:normal;
	padding-top:2px;
	text-align:justify;
}

/* BO: DASHBOARD */
.dashboard_heading {
	float:left;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.4em;
	font-weight:bold;
	padding:2px 5px 2px 5px;
}

/* EO: Work Orders */
div#work_order {
	float:left;
	padding-left:15px;
	width:700px;
}
div#work_order_grid {
	background-color:#F5F5F5;
	border:1px solid #CCCCCC;
	clear:both;
	width:100%;
}

div#work_order div.heading {
	background-color:#DDDDDD;
	border-bottom:1px solid #000;
	clear:both;
	height:20px;
	width:100%;
}
div#work_order div.heading div{
	float:left;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-weight:normal;
	padding:2px 5px 2px 5px;
}
div#work_order div.orders {
	float:left;
	/*border-bottom:1px solid #CCC;*/
	clear:both;
	padding-top:5px;
	width:100%;
	
	height:20px;overflow:hidden;
}
div#work_order div.orders_over {
	/*background-color:#FFFFCC;*/
	height:auto;
	overflow:visible;
}
div#work_order div.orders div{
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:0.8em;
	font-weight:normal;
	padding:2px 5px 2px 5px;
	text-align:left;
}

div#work_order div.orders div span.highlight{
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1em;
	font-weight:normal;
	padding:2px 5px 2px 5px;
}

div#work_order div.number {
	width:200px;
}
div#work_order div.number a{
	font-size:12px;
}
div#work_order div.date {
	width:75px;
}
div#work_order div.stage {
	width:150px;
}
div#work_order div.team {
	width:150px;
}
div#work_order div.client {
	width:30px;
}
div#work_order div.view {
	width:20px;
}
div#work_order div.comments {
	border-bottom:1px solid #999999;
	padding-bottom:2px;
	text-align:left;
	width:100%;
}
div#work_order div.comments span.comments{
	color:#666666;
	font-size:0.9em;
}
/* EO: Work Orders */

/* BO: My Work Orders */
div#my_work_order {
	float:left;
   	padding-left:5px;
	width:400px;
}

div#my_work_order_grid {
	background-color:#F5F5F5;
	border:1px solid #CCCCCC;
	clear:both;
	width:100%;
}

div#my_work_order div.heading {
	background-color:#DDDDDD;
	border-bottom:1px solid #000;
	clear:both;
	height:20px;
	width:100%;
}
div#my_work_order div.heading div{
	float:left;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-weight:normal;
	padding:2px 5px 2px 5px;
}
div#my_work_order div.orders {
	float:left;
	border-bottom:1px solid #CCC;
	clear:both;
	width:100%;
}

div#my_work_order div.orders div{
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:0.8em;
	font-weight:normal;
	padding:2px 5px 2px 5px;
	text-align:left;
}

div#my_work_order div.orders div span.highlight{
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1em;
	font-weight:normal;
	padding:2px 5px 2px 5px;
}

div#my_work_order div.number {
	width:59%;
}
div#my_work_order div.date {
	width:32%;
}

/*
BO 2011
*/
div#list {
	float:left;
   	padding-left:5px;	 
}

div#list_grid {
	background-color:#F5F5F5;
	border:1px solid #CCCCCC;
	clear:both;
	width:100%;
}
div#list div.heading {
	font-size:11px;
	font-weight:bold;
	color:#464545;
	background-color:#fff;
	border-bottom:1px solid #cacaca;
	border-top:1px solid #cacaca;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	
}


div#list div.row {
	float:left;
	border-bottom:1px solid #CCC;
	clear:both;
	width:100%;
}
div#list div.column {
	float:left;
	border:1px 0px 1px 0px solid #CFCFCF;
    vertical-align:top;
    text-align:left;	
}

div#list div.normaltext{
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.0em;
	font-weight:normal;
	padding:2px 5px 2px 5px;
	text-align:left;
}

div#list div.row div span.highlight{
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1em;
	font-weight:normal;
	padding:2px 5px 2px 5px;
}

/*
EO 2011
*/
div#team_project {
	float:left;
   	padding-left:5px;
	width:500px;
}

div#my_team_project_grid {
	background-color:#F5F5F5;
	border:1px solid #CCCCCC;
	clear:both;
	width:100%;
}

div#team_project div.heading {
	background-color:#DDDDDD;
	border-bottom:1px solid #000;
	clear:both;
	height:20px;
	width:100%;
}
div#team_project div.heading div{
	float:left;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-weight:normal;
	padding:2px 5px 2px 5px;
}
div#team_project div.orders {
	float:left;
	border-bottom:1px solid #CCC;
	clear:both;
	width:100%;
}

div#team_project div.orders div{
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:9px;
	font-weight:normal;
	padding:2px 5px 2px 5px;
	text-align:left;
}

div#team_project div.orders div span.highlight{
	float:left;
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1em;
	font-weight:normal;
	padding:2px 5px 2px 5px;
}

div#team_project div.number {
	width:60%;
}
div#team_project div.date {
	width:12%;
}
/* EO: My Work Orders */
a.to {  
    color:#e5b540;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
  
}
a.to:hover {
   text-decoration:underline;
}
a.file {  
    color:#cc0021;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
  
}
a.file:hover {
   text-decoration:underline;
}
/* EO: DASHBOARD */

.hide{
    display:none;
    }

.show{
    display:visible;
}
.even{
	 
	background-color:#ffffff;
	color:#323131;
    text-align:left;
}
.odd{
 
	background-color:#dedede;
	color:#323131;
    text-align:left;
}

/*new added 2009-04-apr08*/



#content {
margin:0;
width: 100%;
text-align:center;
}
/*
#content-main {
border:1px solid #CCCCCC;
padding:10px 5px 10px 5px;
width: 710px;
text-align:center;
margin-left:auto;
margin-right:auto;
}
*/

#content-main {
border:1px solid #CCCCCC;
padding:10px 5px 10px 5px;

text-align:center;
margin-left:auto;
margin-right:auto;
}

div.row {
    clear:both;
    float:left;
}




div.box-main a{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	display:block;
	padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:#66513c;
   	background-repeat:no-repeat;
	background-position:top;
	z-index:1;	
    
}

div.box-main a:hover{
     background-color:#f6d042;
     padding-top:10px;
     padding-bottom:10px;
}

div.box-main a:active{
     background-color:#f6d042;
     padding-top:10px;
     padding-bottom:10px;
}
div.box-main-select a{
     background-color:#f6d042;
    font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	display:block;
	padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    background-repeat:no-repeat;
	background-position:top;
	z-index:1;	
}

div.box-main-select a:hover{
     background-color:#f6d042;
     padding-top:10px;
     padding-bottom:10px;
}

div.box-main-select a:active{
     background-color:#f6d042;
     padding-top:10px;
     padding-bottom:10px;
}

.srsdesigner{
     font-family:Arial;
	 font-size:12px;
	 font-weight:normal;
	 color:#f8870f;
}

.srsprogrammer{
     font-family:Arial;
	 font-size:12px;
	 font-weight:normal;
	 color:#2e2ef8;
}

.srstester{
     font-family:Arial;
	 font-size:12px;
	 font-weight:normal;
	 color:#037005;
}

.srsclient{
     font-family:Arial;
	 font-size:12px;
	 font-weight:normal;
	 color:#02c1c3;
}

.searchsrsButton{
    border:2px outset #CC0023;
	background-color:#CC0023;
	color:#FFFFFF;
	cursor:pointer;
	font-size:9px;
	font-weight:bold;
	padding-left:1px;
	padding-right:1px;
}

.searchsrsButton:hover{
    text-decoration:none;
}
.project-title{
    color:#333333;	
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.1em;
	font-weight:bold;
}

.project-ts-title{
    color:#000000;	
   	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:1.1em;
	font-weight:bold;
}

/*css from sniper bof */

#bugStripleft{
    background-color:#D7D7D7;
	/*display: block;*/
	padding:0px 2px 0px 2px;
}	
#bugStripleft span.commenttext
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}	
#bugStripleft span.commenttext_client
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
    background-color:#D7D7D7;
	font-size:12px;
	font-weight:bold;
}	


#bugStripright{
    background-color:#F7F7F7;
	display: block;
	padding:0px 2px 0px 2px;
}	
#bugStripright span.datetext
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}	
.searchtext{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
.middletext{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}	

/*css from sniper eof */


/*css from task reminder bof */
.main-border{
	border:#cecece solid 1px;
} 

.text{
    font-family:Arial,Verdana, 'San serif';
    font-size:12px; 
    color:#ffffff;
    text-decoration:none;
    font-weight:bold;
}
.date_reminder{
    font-family:Verdana,Arial, 'San serif';
    font-size:12px; 
    color:#ffffff;
    text-decoration:none;
    font-weight:bold;
}
.date_reminder a {
    color:#ffffff; 
     font-size:11px; 
    font-weight:bold;
    text-decoration:none;
}
.date_reminder a:hover {
    text-decoration:underline;
}

.text-m{
    font-family:Arial,Verdana, 'San serif';
    font-size:11px; 
    color:#000000;
    text-decoration:none;
    font-weight:bold;
}
.text a{
    font-family:Arial,Verdana, 'San serif';
    font-size:11px; 
    color:#c2001d;
    /*color:#112abb;*/
    text-decoration:none;
    font-weight:bold;
}

.text a:hover{
    font-family:Arial,Verdana, 'San serif';
    font-size:11px; 
    color:#c2001d;
    /*color:#112abb;*/
    text-decoration:underline;
    font-weight:bold;
}


.text-info{
    font-family:Arial,Verdana, 'San serif';
    font-size:12px; 
    color:#000000;
    text-decoration:none;
    font-weight:regular;
}

#padding1{ 
	padding-left:10px;
	padding-right:10px;
	
}

#table-height{
	height:25px;
	padding-left:10px;
	padding-right:10px;
}

.first-bg{
	/*background-color:#93b7f3;*/
	/*background-color:#000000;*/
	background-color:#505050;
} 
 
.second-bg{
	/*background-color:#d6e3f9;*/
	background-color:#000000;
}

.third-bg{
	background-color:#f7f7f7;
}

.content-bg{
	background-color:#ffffff;
}
/*css from task reminder eof */

/*Bof css for modules page*/
.head-text{
   font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#CC0022;
}

.sub-text{
   	font-family:Verdana, Arial, Helvetica, sans-serif;
   	font-size:12px;
	font-weight:regular;
	color:#615f60;
}

.text {
   	font-family:Verdana, Arial, Helvetica, sans-serif;
   	font-size:11px;
	font-weight:bold;
	color:#666666;
	text-decoration:none;
}

/*Eof css for modules page*/

.content-main{
	float:left;
	width:25%;
	height:100%;
}

#dhtmltooltip
{
    position: absolute;
    width: 150px;
    border: 1px solid black;
    padding: 2px;
    background-color: lightyellow;
    visibility: hidden;
    z-index: 100;
    /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    /*filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
}


/*CSS for voucher bof*/
.title{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	 color:#666666;
    font-size:9px;
    font-weight:normal;
    vertical-align:top;
}
.title_adr{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	 color:#666666;
    font-size:9px;
    font-weight:normal;
    vertical-align:top;
}
.title-bold{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	 color:#666666;
    font-size:9px;
    font-weight:bold;
    vertical-align:top;
}

.heading{
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;    
    font-size:10px;
}
.voucherheading{
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;    
    font-size:11px;
}

.table-border{	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000
}

.table-border-1{	
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000
}

.table-left-border{		
	border-left:1px solid #000000;	
}
/*CSS for voucher eof*/
.goButton{
    border:1px outset #CC0023;
	background-color:#CC0023;
	color:#FFFFFF;
	cursor:pointer;
	font-size:9px;
	font-weight:bold;
	padding-left:1px;
	padding-right:1px;
}


/* BOF  for support ticket view */

.support-heading{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	/*color:#090001;*/
    font-size:15px;
    font-weight:bold;
    padding-bottom:5px;
    color:#3f3f3f;
}

.support-sub-heading{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	/*color:#000000;*/
    /* color:#4b494a; */
	color:#333333;
    font-size:14px;
    font-weight:normal;
}

.support-sub-content{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	/*color:#000000;*/
    color:#000002;
    font-size:12px;
    font-weight:regular;
}

.inputbox1{
    border:1px solid #000000;
    width:98%;
    /*padding-top:2px;*/
    font-family:Arial, Verdana, Helvetica, sans-serif;
    /*color:#1a1a1a;
    font-size:15px;*/
    font-size:17px;
    /*font-weight:regular;*/
	margin-bottom:0.2em;
	vertical-align:bottom; 
    padding:5px;
}

.selectbox1{
    border:1px solid #000000;
    width:100%;
}

.bg-block{ 
	/* background-color:#edeee6; */
	/*background-color:#e2e3df;*/
	background-color:#f6f7f2;
	border:1px solid #000000;
}

#padding3{padding-top:5px;}
#padding2{padding-top:10px;}
#padding4{padding-top:15px;}
 

.top-blue-repeater {
	background: url('../../../media/images/nc/blue-top-repeater.jpg') ;
	background-repeat:repeat-x;
	background-position:top; 
	height:56px;
}

.ticket-heading {
  	font-size:15px;
  	font-weight:bold;  	
    color: #96142c;	    
}

.bg-color{
	/*background-color:#d9dad4;	*/
  /*   background-color:#edeee6; */	
    background-color:#f6f7f2;
}
.bg-report{
	background-color:#f7c0c0;
    	
}
.support-inputbox{
	border: 1px solid #b6b6b6;
}

.support-table{
	/*border-top:1px solid #7b7d6f;
	border-left:1px solid #7b7d6f;
	border-right:1px solid #7b7d6f;*/
    border-top:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
}

.support-table-1{
	/*border:1px solid #7b7d6f;	*/
    border-bottom:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
}
/* EOF for support ticket view */

.padding-container{   
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
}
.padding-container-sc{   
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:40px;
}
.lst{
    font-family:arial,sans-serif;
    font-size:17px;
    margin-bottom:0.2em;
    vertical-align:bottom; 
}

.desc-text{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#6b6b6b;
    font-size:12px;
    font-weight:regular;
}

.active-buttton{
    background-image:url(../../../media/images/nc/active-off.png);
    background-position:center top;
    background-repeat:no-repeat;
    border:medium none;
    cursor:pointer;
    width:16px;
    background-color:#ebece6;
}

.deactive-buttton{
    background-image:url(../../../media/images/nc/active-on.png);
    background-position:center top;
    background-repeat:no-repeat;
    border:medium none;
    cursor:pointer;
    width:16px;
    background-color:#ebece6;
}

.small-text{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#cc5555;
    font-size:10px;
}
.top_text {
    font-family:Arial, 'San serif';
    font-size:7pt;
    font-weight:bold;
	line-height:15px;
   	color:#e2e2e2;
}
.top_statement {
    font-family:  Arial, 'San serif';
    font-size:7pt;
    font-weight:bold;
	line-height:20px;
   	color:#e2e2e2;
}
/**/
.unselectable {
  -moz-user-select:none;
  -webkit-user-select:none;
}

.hot{
	background-color:#ff0000;
	color:#ffffff;
	font-family:  Arial, 'San serif';
    font-size:14px;
	font-weight:bold;
	padding:5px;
}
.warm{
	background-color:#ff5604;
	color:#ffffff;
	font-family:  Arial, 'San serif';
    font-size:14px;
	font-weight:bold;
	padding:5px;
}
.cold{
	background-color:#050bf8;
	color:#ffffff;
	font-family:  Arial, 'San serif';
    font-size:14px;
	font-weight:bold;
	padding:5px;
}

.negative{
	background-color:#333333;
	color:#ffffff;
	font-family:  Arial, 'San serif';
    font-size:14px;
	font-weight:bold;
	padding:5px;
}

.win{
	background-color:#333333;
	color:#ffffff;
	font-family:  Arial, 'San serif';
    font-size:14px;
	font-weight:bold;
	padding:5px;
}
.loose{
	background-color:#333333;
	color:#ffffff;
	font-family:  Arial, 'San serif';
    font-size:14px;
	font-weight:bold;
	padding:5px;
}
a.quick_task {  
	text-align:center;  
	font-size: 11px;
	color: #ffffff; 
	padding: 3px ; 
	background: #ea4949; 
	cursor:pointer;
	border-radius: 5px 5px 5px 5px;
	font-weight: normal;
	border: 1px solid #ddd;
}

a.quick_task:hover{
	color: #fff;
	text-decoration:none;
}

a.quick_query {  
	text-align:center;  
	font-size: 11px;
	color: #ffffff; 
	padding: 3px ; 
	background: #e7d9f6; 
	cursor:pointer;
	border-radius: 5px 5px 5px 5px;
	font-weight: normal;
	border: 1px solid #ddd;
}

a.quick_query:hover{
	color: #fff;
	text-decoration:none;
}
a.quick_suggestion {  
	text-align:center;  
	font-size: 11px;
	color: #ffffff; 
	padding: 3px ; 
	background: #7789b6; 
	cursor:pointer;
	border-radius: 5px 5px 5px 5px;
	font-weight: normal;
	border: 1px solid #ddd;
}

a.quick_suggestion:hover{
	color: #fff;
	text-decoration:none;
}
a.quick_reminder{  
	text-align:center;  
	font-size: 11px;
	color: #ffffff; 
	padding: 3px ;  
	background: #76B876; 
	cursor:pointer;
	border-radius: 5px 5px 5px 5px;
	font-weight: normal;
	border: 1px solid #ddd;
}

a.quick_reminder:hover{
	color: #fff;
	text-decoration:none;
}

a.quick_score{  
	text-align:center;  
	font-size: 11px;
	color: #ffffff; 
	padding: 3px ; 
	background: #bf77c6; 
	cursor:pointer;
	border-radius:5px;
	font-weight: normal;
	border: 1px solid #ddd;
}

a.quick_score:hover{
	color: #fff;
	text-decoration:none;
}

a.reports-link{
	font-family:Verdana, Arial, 'San serif';
  	font-size:14px;
  	font-weight:bold; 
	padding:2px;
    color: #C81818;	
    text-decoration:none;
}

a.reports-link:hover{
	font-family:Verdana, Arial, 'San serif';
  	font-size:14px;
	padding:2px;
  	color:#C81818;
   	/*background-color:#d4d4d4;*/
    text-decoration:underline;
    font-weight:bold;
}

/*
c4e8dd
e8ccc4
*/