
.list-table-row-even{
	background-color:#FFFFFF;
	color:#434242;
	font-family:Segoe UI;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	word-wrap:break-word;
	word-break:break-all;
}
.list-table-row-odd{
	background-color:#EBECEC;
	color:#434242;
	font-family:Segoe UI;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	word-wrap:break-word;
	word-break:break-all;		
}
.list-table-row-on-hover{
	background-color:#FFEDED;
	color:#434242;
	font-family:Segoe UI;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	word-wrap:break-word;
	word-break:break-all;
}
.list-table-column-heading{
	background-color:#434242;
	color:#FFFFFF;
	font-family:Segoe UI;
	font-size:10px;
	font-weight:bold;
	text-align:center;
}

/*tr.list-table-row-even td {padding-top: 2px; padding-right:2px;padding-bottom:2px;padding-left:2px} */


