body {
font-family:verdana,sans-serif;
font-size:10px;
color:#292929;
text-align:center;
line-height:13px;
margin:0;
padding:0;
}
#content-page {
margin:0;
padding:0;}
#content-bottom-div1 {
top:0;
width:798px;
border:0;
text-align:left;
margin:0 auto;
padding:5px 0 0 30px;
}
#content-bottom-div2 {
top:0;
width:958px;
border:0;
text-align:left;
margin:0 auto;
padding:0;
}
#content-main {
top:0;
width:798px;
border:0;
background:#FFF;
text-align:left;
margin:0 auto;
padding:0;
}
.error {
color:red;
font-family:"Trebuchet MS", "Lucida Sans", Georgia, Verdana, sans-serif;
font-size:12px;
text-align:center;
}
.notice {
color:#F63;
font-family:"Trebuchet MS", "Lucida Sans", Georgia, Verdana, sans-serif;
font-size:12px;
text-align:center;
}
.left-corner {
background-image:url('../../../media/images/nc/left-corner.jpg');
width:21px;
height:299px;
background-repeat:no-repeat;
background-position:top;
float:left;
}
.right-corner {
background-image:url('../../../media/images/nc/right-corner.jpg');
width:20px;
height:299px;
background-repeat:no-repeat;
background-position:top;
}
.gray-left-corner {
background-image:url('../../../media/images/nc/gray-left-corner.jpg');
width:28px;
height:239px;
background-repeat:no-repeat;
background-position:top;
float:left;
}
.gray-right-corner {
background-image:url('../../../media/images/nc/gray-right-corner.jpg');
width:11px;
height:239px;
background-repeat:no-repeat;
background-position:top;
}
.security-img {
padding-right:5px;
background-image:url('../../../media/images/nc/lock-img.jpg');
width:36px;
height:48px;
background-repeat:no-repeat;
background-position:top right;
}
.input-box {
width:239px;
border:1px solid #c2c2c2;
font-size:16px;
font-family:Arial, verdana, 'San-serif';
font-weight:700;
text-decoration:none;
color:#000;
}
.login-button {
background-image:url('../../../media/images/nc/login-button-img.jpg');
width:67px;
height:24px;
background-repeat:no-repeat;
border:none;
background-position:top;
font-family:Arial, Verdana, 'San-serif';
font-size:12px;
font-weight:700;
color:#fff;
text-align:center;
border-style:none;
}
.log-in-text {
font-family:Arial, Verdana, 'San-serif';
font-size:16px;
font-weight:regular;
color:#d92026;
}
.text {
font-family:Arial, Verdana, 'San-serif';
font-size:12px;
font-weight:700;
color:#615f5f;
}
.forgot-text a {
font-family:Arial, Verdana, 'San-serif';
font-size:12px;
font-weight:700;
color:#272626;
text-decoration:none;
}
.forgot-text a:hover {
color:#272626;
}
.para-text {
font-family:Arial, Verdana, 'San-serif';
font-size:12px;
font-weight:regular;
color:#a7a7a7;
}
#bottom-logo-img {
background-image:url('../../../media/images/nc/bottom-smeerp-logo.jpg');
width:126px;
height:14px;
background-repeat:no-repeat;
background-position:top;
border:0;
}
#bottom-logo-img a {
float:left;
background-image:url('../../../media/images/nc/bottom-smeerp-logo.jpg');
width:126px;
height:14px;
text-decoration:none;
background-repeat:no-repeat;
background-position:top;
border:0;
}
#bottom-logo-img a:hover {
background-image:url('../../../media/images/nc/hover-bottom-smeerp-logo.jpg');
}
#bottom-24x7-img {
background-image:url('../../../media/images/nc/india-usa-img.jpg');
width:358px;
height:27px;
background-repeat:no-repeat;
background-position:top;
}
#bottom-24x7-img a {
float:left;
background-image:url('../../../media/images/nc/india-usa-img.jpg');
width:358px;
height:27px;
background-repeat:no-repeat;
background-position:top;
text-decoration:none;
}
#bottom-24x7-img a:hover {
background-image:url('../../../media/images/nc/hover-india-usa-img.jpg');
}
.top-background {
background-image:url('../../../media/images/nc/top-background.jpg');
background-repeat:repeat-x;
background-position:top;
width:100%;
height:140px;
}
.middle-background {
background-image:url('../../../media/images/nc/middle-background.jpg');
background-repeat:repeat-x;
background-position:top;
width:100%;
height:299px;
}
.bottom-background {
background-image:url('../../../media/images/nc/bottom-background.jpg');
background-repeat:repeat-x;
background-position:top;
width:100%;
height:130px;
}
.bottom-background-body {
background-image:url('../../../media/images/nc/bottom-background.jpg');
background-repeat:repeat-xy;
background-position:top;
font-size:19px;
}
.nerve-logo {
background-image:url('../../../media/images/nc/erp-logo.jpg');
width:291px;
height:42px;
background-repeat:no-repeat;
background-position:top right;
}
.middle-format {
background-color:#fff;
height:299px;
width:757px;
}
#logo-padding {
padding-top:134px;
width:400px;
}
.login-window {
width:271px;
background-color:#ededed;
height:239px;
padding-left:7px;
}
#padding1 {
padding-top:20px;
height:20px;
}
#padding2 {
padding-top:31px;
}
#padding3 {
padding-top:0;
}
#padding4 {
padding-top:2px;
}
#padding5 {
padding-top:5px;
}
#padding6 {
padding-top:10px;
padding-right:24px;
}
.space {
height:45px;
}
#padding10 {
margin-left:45px;
margin-right:50px;
}
#padding11 {
margin-top:40px;
}
#padding12 {
margin-top:5px;
}
#padding13 {
text-align:center;
width:310px;
padding-top:3px;
padding-bottom:3px;
margin:0;
}
.para-text a {
font-family:verdana,sans-serif;
font-size:10px;
color:#888;
line-height:13px;
text-align:justify;
text-decoration:none;
}
.para-text a:hover {
color:#efefef;
}
.terms-text {
font-family:verdana,sans-serif;
font-size:9px;
color:#888;
margin:0;
padding:0;
}
#terms-padding {
padding-bottom:3px;
margin:0;
}