 
a{
	text-decoration: none;
}
.quick_menu{
font-family: Arial;
color: #515151;
width: 150px;
position: relative;
height: 20px;
text-align:left; 
margin: 0 auto;
}
.quick_menu li a{
color: #515151;
display: block;
padding: 3px 15px;   
cursor: pointer;
font-size: 12px;
}
.quick_menu li a:hover{
background: #f2acac;
color: #fff;
}
.quick-sub{
background: #fff;
/* position: absolute; */
position: relative;
top: 25px;
z-index: 2;
width: 100px;
padding: 5px 0 3px;
border-radius: 3px;
box-shadow: 0 2px 4px #ddd;
border: 0px solid #ddd;
display: none;
}
a.hover-link{ 
text-align:center; 
/*width: 100px;  */
font-size: 13px;
color: #ffffff;
position: absolute;
z-index: 110;
display: block;
padding: 5px ;
 
background: #ea4949;
/*height: 28px; */
cursor:pointer;
border-radius: 5px 5px 0 0;
font-weight: bold;
border: 0px solid #ddd;
}
.quick-sub-options{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
}
