
.search-section-title-text{
	color:#333333;
	font-family:Arial Narrow;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	word-wrap:break-word;
	word-break:break-all;
}

/*tr.list-table-row-even td {padding-top: 2px; padding-right:2px;padding-bottom:2px;padding-left:2px} */


