/*AJAX ONSUBMIT SHOW ERR BOF*/
.border-class{
	background:#ededed;
	border:1px solid #e1e1e1;
	height:25px;
	padding-left: 10px;
	padding-right: 10px;
}
/*AJAX ONSUBMIT SHOW ERR EOF*/
.access-repeater {
	background: url('../../../media/images/nc/access-middle-repeater.jpg') ;
	background-repeat:repeat-x;
	background-position:top; 
}

.access-text {
    font-family:Verdana, Arial, 'San serif';
    font-size:18px;
    font-weight:bold;
    line-height:15px;
   	color:#ca2e39;
} 
.menu-child {
    font-family:Verdana, Arial, 'San serif';
    font-size:11px;
    font-weight:regular;
   	color:#646464;
   	text-decoration:none;
}

.menu-child a{
  	font-size:11px;
  	font-weight:regular;
  	width:100%;
  	height:24px;
    display:block;
    color: #646464;	
    text-decoration:none;
}

.menu-child a:hover{
    background-image:url('../../../media/images/nc/child-repeater.jpg');
	background-repeat:repeat-x;  
    background-position: top left;    
  	font-size:11px;
  	color:#646464;
   	width:100%;
    height:24px;
    background-color:#d4d4d4;
    text-decoration:none;
    font-weight:regular;
}


.menu-parent {
    font-family:Verdana, Arial, 'San serif';
    font-size:11px;
    font-weight:regular;
   	color:#ffffff;
   	text-decoration:none;
}

.menu-parent a{
	background-image:url('../../../media/images/nc/normal.jpg');
	background-repeat: repeat-x;
  	background-position: top left;
  	width:100%;
   	display:block;
  	height:24px;
    color: #ffffff;
}

.menu-parent a:hover{
	background-image:url('../../../media/images/nc/normal-hover.jpg');
	background-repeat: repeat-x;
  	background-position: top left;  
  	color: #333333;
    width:100%;
    height:24px;
    text-decoration:none;
    font-weight:bold;
}
    
.menu-parent a:active{
	background-image:url('../../../media/images/nc/normal-active.jpg');
	background-repeat: repeat-x;
  	background-position: top left;
  	background-color: #e8e8e8;
  	color: #333333;
    width:100%;
    height:24px;
    display:block;
    text-decoration:none;
 }

.top-repeater{
	background-image:url('../../../media/images/nc/top-repeater.jpg');
	background-repeat:repeat-x;
  	background-position:top;
  	/*width:2px;*/
  	height:34px;
  }

.menu-top-repeater{
	background-image:url('../../../media/images/nc/menu-background-repeater.jpg');
	background-repeat:repeat-x;
  	background-position:top;
  	/*width:2px;*/
  	height:52px;
}


.vertical-repeater{
	background-image:url('../../../media/images/nc/vertical-repeater.jpg');
	background-repeat:repeat-y;
  	background-position:top;
  	width:25px;
  	
}

.content-repeater{
	background-image:url('../../../media/images/nc/content-repeater.jpg');
	background-repeat:repeat-x;
  	background-position:top;
  	height:112px;
}

.hidden {display:none;}
.member-repeater{
	background-image:url('../../../media/images/nc/member-repeater.jpg');
	background-repeat:repeat-x;
  	background-position:top;
  	height:22px;
}

.alert-repeater{
	background-image:url('../../../media/images/nc/alert-mid-repeater.jpg');
	background-repeat:repeat-x;
  	background-position:top;
  	height:25px;
}


/*2009-7-july-21*/

.middle-seperator-repeater {
	background: url('../../../media/images/nc/middle-vertical-repeater.jpg') ;
	background-repeat:repeat-y;
	width:41px;
	height:100%;
	background-position:top; 
}

.top-header-repeater {
	background: url('../../../media/images/nc/top-header-repeater.jpg') ;
	background-repeat:repeat-x;
	height:35px;
	background-position:top; 
}

.top-gray-gradient-repeater {
	background: url('../../../media/images/nc/top-gray-gradient-repeater.jpg') ;
	background-repeat:repeat-x;
	background-position:top; 
}

.username_text {
    font-family:Verdana, Arial, 'San serif';
    font-size:8pt;
    font-weight:regular;
   	color:#f3f2ed;
}

.circular-heading a{
    font-family:Verdana, Arial, 'San serif';
    font-size:8pt;
    font-weight:regular;
   	color:#f3f2ed;
    text-decoration:none;
}

.circular-heading a:hover{
    color:#f3f2ed;
    text-decoration:underline;
}
