.skin-black .smeerp-header {
    background-color: #900000;
    left: 0;
    right: 0;
    top: 0;
}
.skin-black .full-width {
    background: none repeat scroll 0 0 #333;
}
.img-circle {
    border-radius: 50%;
}
.info-white-12{
 color:#ffffff;
 font-family: Arial, Verdana,'San serif';
 font-size:12px;
 line-height:13px;
}
.info-white-11{
 color:#ffffff;
 font-family: Arial, Verdana,'San serif';
 font-size:11px;
 line-height:12px;
}
.pull-left {
    float: left !important;
}