﻿/* BO: Top Menu */

#content-main #top-menu-div {
	position: relative;
	top: 0px;
	left: 0px; 
	width: 873px;
	height: 26px;
	background: transparent url("../../../media/images/menu-repeater.jpg") repeat-x;
	line-height: 13px;
	z-index: 200;
}


#top-menu-div .clear {
	clear: both;
}

#top-menu-div #top-menu {
	position: absolute;
	top: -3px;
	width: auto;
	margin: 0px; 
	padding: 0px;
	border: 0px;
}

#top-menu-div ul {
	position: absolute;
	top: 28px;
    width: 200px;
	margin: 1px 0px 0px 0px; 
	padding: 0px;
	border-left: 5px solid #000000;
	list-style-type: none;
	z-index: 100;

}

#top-menu-div li {
	position: relative;
	top: 0px;
	padding: 0px;
	margin: 0px;
}

#top-menu-div li.hover {
	border: 0px;
}

#top-menu-div li.top-level-item {
	top: 0px;
	display: inline;
	float: left;
}

#top-menu-div li.top-level-item div {
	padding: 9px 0px 7px 0px;
	font-family:Arial, Verdana, 'San serif';
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	cursor: pointer;
}
#top-menu-div li.top-level-item ul {
	background: #000000;
    width:200px;
}

#top-menu-div li.top-level-item div.hover {
	background: transparent url("../../../media/images/menu-repeater-hover.jpg") 0px -1px repeat;
	color: #FFFFFF;


}

#top-menu-div li.top-level-item div a {
	color: #FFFFFF;
	padding: 5px 9px 6px 9px;
}

#top-menu-div li.top-level-item div.hover a,
#top-menu-div li.top-level-item div.hover a:hover {
	color: #000000;
		
}


#top-menu-div a.level-0 {
	color: #FFFFFF;
	font-family:Arial, Verdana, 'San serif';
	font-size:12px;
	text-decoration: none;
}
#top-menu-div a.level-0:hover {

	background: transparent url("../../../media/images/menu-repeater-hover.jpg") 0px -1px repeat;
	color: #FFFFFF;
	text-decoration:none;
}



#top-menu-div a.level-1:link,
#top-menu-div a.level-1:visited {
	display: block;
	width: 200px;
	padding: 1px 5px 1px 5px;
	/*background: #000000;*/
	border: 1px solid #000000;
	font-family: verdana,sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	*-moz-opacity:0.95;filter:alpha(opacity=95);opacity: 0.95;
}


#top-menu-div a.level-2:link,
#top-menu-div a.level-2:visited {
	display: block;
	width: 183px;
	padding: 1px 10px 1px 15px;
	background: #000000;
	border: 1px solid #000000;
	font-family: Verdana,sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}


#top-menu-div a.level-2.hover:link,
#top-menu-div a.level-2.hover:visited {
	/*background: #DDDDDD url("../../media/images/navigation/bullet.gif") no-repeat 18px 7px;*/
}

#top-menu-div a.level-1:hover,
#top-menu-div a.level-2:hover {
	color: #FFFFFF;
	background: #C40022;
	border: 1px solid #F5002A;
}


/*#top-menu-div a.level-1-last:link,
#top-menu-div a.level-1-last:visited {
	display: block;
	width: 200px;
	padding: 3px 5px 3px 5px;
	background: #F5F5F5;
	font-family: Verdana,sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	*-moz-opacity:0.95;filter:alpha(opacity=95);opacity: 0.95;
}*/

/*#top-menu-div a.level-1.hover:link,
#top-menu-div a.level-1.hover:visited,
#top-menu-div a.level-1-last.hover:link,
#top-menu-div a.level-1-last.hover:visited {
	background-color: #DDDDDD;
}
*/


.sub-head {
	display: block;
	width: 200px;
	padding: 2px 5px 2px 5px;
	background: #FFFFFF;
	font-family:Arial, Verdana, 'San serif';
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	cursor: arrow;
	*-moz-opacity:0.95;filter:alpha(opacity=95);opacity: 0.95;
}

#top-menu-div .has-subs {
	position: relative;
}

#top-menu-div ul.sub-menu {
	position: absolute;
	left: 210px; 
	top: 0px;
	margin-top: -1px;
	margin-left: 40px;
}

#top-menu-div .has-subs a.has-subs-link:link,
#top-menu-div .has-subs a.has-subs-link:visited {

	background: #FFFFFF url("../../media/images/navigation/subarrow.gif") 200px 5px no-repeat;
}

#top-menu-div .has-subs a.has-subs-link.hover:link,
#top-menu-div .has-subs a.has-subs-link.hover:visited {
	background: #EEEEEE url("../../media/images/navigation/subarrow.gif") 200px 5px no-repeat;
	margin-bottom: 0px
}

#top-menu-div .has-subs a.has-subs-link:hover {
	margin-bottom: 0px;
}


/* EO: Top Menu */