﻿#top-menu-div .clear {

	clear: both;
}

#content-main #top-menu-div {

	position: relative;
	
	top: 0px;
	left: 30px; 
	width: 901px;
	height: 29px;
	
	background: transparent url("../../../media/images/menu-repeater.jpg") repeat-x;
	
	line-height: 13px;
	
	z-index: 550;
}

#top-menu-div #top-menu {

	position: absolute;
	
	top: -13px;
	width: auto;
	
	margin-bottom: 0px; 
	padding: 0px;
	
	border: 0px;
}

#top-menu-div ul {

	position: absolute;
	
	left: 0px; 
	top: 38px;
	width: 210px;
	
	margin: 1px 0px 0px 0px; 
	padding: 0px;
	
	border: 5px solid #000000;
	
	*-moz-opacity:0.96;filter:alpha(opacity=96);opacity: 0.96;
	
	list-style-type: none;
	
	z-index: 20;
}

#top-menu-div li {

	position: relative;
	
	top: 0px;
	
	padding: 0px;
	margin: 0px;
}

#top-menu-div li.hover {

	border: 0px;
}

#top-menu-div li.top-level-item {

	top: 2px;
	display: inline;
	float: left;
}

#top-menu-div li.top-level-item h3 {
	
	padding: 9px 35px 8px 35px;
	
	font-family: verdana,sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	
	cursor: pointer;
}

#top-menu-div li.top-level-item h3.hover {

	background: transparent url("../../../media/images/menu-repeater-hover.jpg") 0px -1px repeat;
	
	color: #FFFFFF;
}

#top-menu-div li.top-level-item h3 a {

	color: #FFFFFF;
}

#top-menu-div li.top-level-item h3.hover a,
#top-menu-div li.top-level-item h3.hover a:hover {

	color: #FFFFFF;
}

#top-menu-div a:link,
#top-menu-div a:visited {

	text-decoration: none;
}

#top-menu-div a.sub:link,
#top-menu-div a.sub:visited {

	display: block;
	
	width: 198px;
	
	padding: 1px 5px 1px 5px;
	
	background: #000000;

	border: 1px solid #000000;
	
	font-family: Verdana,sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

#top-menu-div a.sub-list:link,
#top-menu-div a.sub-list:visited {

	display: block;
	
	width: 183px;
	
	padding: 1px 10px 1px 15px;
	
	background: #000000;
	
	border: 1px solid #000000;
	
	font-family: Verdana,sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

#top-menu-div a.sub-last:link,
#top-menu-div a.sub-last:visited {

	display: block;
	
	width: 198px;
	
	padding: 1px 5px 1px 5px;
	
	background: #000000;
	
	border: 1px solid #000000;
	
	font-family: Verdana,sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

#top-menu-div a.sub.hover:link,
#top-menu-div a.sub.hover:visited,
#top-menu-div a.sub-last.hover:link,
#top-menu-div a.sub-last.hover:visited,
#top-menu-div a.sub-list.hover:link,
#top-menu-div a.sub-list.hover:visited {

	color: #FFFFFF;
	background: #C40022;
	
	border: 1px solid #F5002A;
}

.sub-head {

	display: block;
	
	width: 200px;
	
	padding: 2px 5px 2px 5px;
	
	background: #FFFFFF;
	
	font-family: Verdana,sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	
	cursor: arrow;
}

#top-menu-div .has-subs {

	position: relative;
}

#top-menu-div ul.sub-menu {

	position: absolute;
	
	left: 210px; 
	top: 0px;
	
	margin-top: -1px;
	margin-left: 41px;
}

#top-menu-div .has-subs a.has-subs-link:link,
#top-menu-div .has-subs a.has-subs-link:visited {

	background: #FFFFFF url("/images/navigation/subarrow.gif") 200px 5px no-repeat;
}

#top-menu-div .has-subs a.has-subs-link.hover:link,
#top-menu-div .has-subs a.has-subs-link.hover:visited {

	background: #EEEEEE url("/images/navigation/subarrow.gif") 200px 5px no-repeat;
	margin-bottom: 0px
}

#top-menu-div .has-subs a.has-subs-link:hover {

	margin-bottom: 0px;
}

#header-wrap #search-wrap {

	position: absolute;
	
	top: 48px;
	left: 704px;
	width: 203px;
	height: 18px;
	
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#search-wrap #search-button-wrap {

	position: absolute;
	
	top: 0px;
	left: 160px;
	width: 37px;
	height: 19px;
	
	padding: 0px;
	margin: 0px;
	
	z-index: 500;
}

#search {

	width: 153px;
	height: 15px;
	
	padding: 3px 5px 0px 2px;

	border: 1px solid #CCCCCC;
	border-bottom: 1px solid  #DDDDDD;
	background: #FFFFFF;
	
	font-size: 11px;
	color: #292929;
}

#search-default {

	width: 153px;
	height: 15px;
	
	padding: 2px 5px 0px 2px;

	border: 1px solid #CCCCCC;
	border-bottom: 1px solid  #DDDDDD;
	background: #FFFFFF;
	
	font-size: 11px;
	color: #AAAAAA;
}
