#window_red{
	background-color:transparent;/*#FCFCFC*/
}
#window_red tr.header {
	background-color:transparent;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:5px;
	line-height:29px;
}
#window_red tr {
	background-color:#FCFCFC;
}

#window_red td.top_corner_left {
	background-image:url(../../../media/images/window/red/top-left.gif);
	background-repeat:no-repeat;
	background-position:left;
	height:29px;
	width:8px;
}
/* BO: Hack for Mozilla, Netscape */
#window_red td.top_corner_left:after {
	color:#A5000E;
	content:'..';
}
/* EO: Hack for Mozilla, Netscape */
#window_red td.top_middle {
	background-image:url(../../../media/images/window/red/top-bg.gif);
	background-repeat:repeat-x;
	height:29px;
	width:100%;
}
#window_red a.btn_close {
	background-image:url(../../../media/images/nc/close.gif);
	background-position:0px 0px;
	background-repeat:no-repeat;
	height:21px;
	width:21px;
}
#window_red a.btn_close:hover {
	background-color:#999999;
	background-image:url(../../../media/images/nc/close.gif);
	background-position:0px 22px;
	background-repeat:no-repeat;
	height:21px;
	width:21px;
}
#window_red td.top_corner_right {
	background-image:url(../../../media/images/window/red/top-right.gif);
	background-repeat:no-repeat;
	background-position:right;
	height:29px;
	width:8px;
}
/* BO: Hack for Mozilla, Netscape */
#window_red td.top_corner_right:after {
	color:#A5000E;
	content:'..';
}
/* EO: Hack for Mozilla, Netscape */
#window_red td.middle_left {
	background-image:url(../../../media/images/window/red/middle-left.gif);
	background-repeat:repeat-y;
	background-position:left;
	height:100%;
	width:1px;
}
#window_red td.middle_content {
	padding-bottom:2px;
	padding-top:2px;
}
#window_red td.middle_right {
	background-image:url(../../../media/images/window/red/middle-right.gif);
	background-repeat:repeat-y;
	background-position:right;
	height:100%;
	width:1px;
}
#window_red td.bottom_left {
	background-image:url(../../../media/images/window/red/bottom-left.gif);
	background-repeat:no-repeat;
	background-position:left;
	height:3px;
	width:8px;
}
#window_red td.bottom_middle {
	background-image:url(../../../media/images/window/red/bottom-bg.gif);
	background-repeat:repeat-x;
	background-position:right;
	height:3px;
	width:100%;
}
#window_red td.bottom_right {
	background-image:url(../../../media/images/window/red/bottom-right.gif);
	background-repeat:no-repeat;
	background-position:right;
	height:3px;
	width:8px;
}