/*body{
	margin:0px 0px 0px 0px;
}
form{
	margin:0px 0px 0px 0px;
}
.inputbox{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;	
}
.star{
	color:#FF0000;
	text-align:center;
}
.bold {font-weight:bold;}
*/
.info_text{
    font-family:Verdana ,"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
    font-size:12px;
    font-weight:normal;
    color:#000000;
    padding:5px 8px 5px 8px;
    vertical-align:middle;
    line-height:14px;
}/*
.welcometext{
	font-family:Verdana ,"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
	font-size:11px;
	font-weight:normal;
	color:#999999;
	padding:5px 8px 5px 8px;
	vertical-align:middle;
	text-align:left;
	line-height:14px;
}
.welcometext a:link, .welcometext a:visited, .welcometext a:active {
	color:#999999;
	text-decoration:none;
}
.welcometext a:hover {
	color:#999999;
	text-decoration:underline;
}


.helptext{
	font-family:Verdana ,"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
	font-size:10px;
	font-weight:normal;
	color:#999999;
	line-height:14px;
}
.tableheading{
	font-family:Verdana ,"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
	font-size:13px;
	font-weight:bold;
	color:#000000;
	line-height:28px;
}*/
/* Top Navigation  CSS*/
.top_nav_home_bg{
	background-image:url("../../media/images/nc/top_nav_home_bg.gif");
	height:90px;
}
.top_nav_bg{
	background-image:url("../../media/images/nc/top_nav_bg.jpg");
	height:31px;
}

#top_nav{	
}

#top_nav .tab_home_sel{
	background-image:url("../../media/images/nc/mainnav_tabs_home.png");
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	width:204px;
	height:27px;
}
#top_nav .tab_sel{
	background-image:url("../../media/images/nc/mainnav_tabs_dn.png");
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	width:215px;
	height:29px;
}
#top_nav .top_nav_home_text{
	padding-left:25px;	
}
#top_nav .top_nav_text{
	padding-left:43px;	
}
#top_nav a.toplink:link, #top_nav a.toplink:active, #top_nav a.toplink:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
}
#top_nav a.toplink:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
}
#top_nav #common_left{
	background-image:url("../../media/images/nc/navigation_style/common_left.jpg");
	background-repeat:no-repeat;
	width:3px;
	height:31px;
}
#top_nav #common{
	background-image:url("../../media/images/nc/navigation_style/common_left.jpg");
	background-repeat:repeat-x;
	height:31px;
	padding-left:5px;
	padding-right:5px;
}
#top_nav #common_right{
	background-image:url("../../media/images/nc/navigation_style/right.jpg");
	background-repeat:no-repeat;
	width:3px;
	height:31px;
}

#top_nav #current{
	background-image:url("../../media/images/nc/navigation_style/selected.gif");
	background-repeat:no-repeat;
	width:119;
	background-position:bottom;
	height:26px;
}
#top_nav #current_left{
	background-image:url("../../media/images/nc/navigation_style/current_left.gif");
	background-repeat:no-repeat;
	width:14px;
	height:29px;
}
#top_nav #current_right{
	background-image:url("../../media/images/nc/navigation_style/current_right.gif");
	background-repeat:no-repeat;
	width:33px;
	height:29px;
}
/* Main Navigation  CSS*/
#main_nav{
	
}

/*#main_nav .content_bg{
	background-image:url("../../media/images/nc/content_05.gif");
	height:300px;
	background-repeat:repeat-x;
	background-position:bottom;
}
/*
#main_nav .content_bg_line{
	background-image:url("../../media/images/nc/content_08.gif");
	height:13px;
	width:584px;	
}
*/
/*#main_nav .content_bg_line{
	background-image:url("../../media/images/nc/content_08.gif");
	height:13px;
	width:834px;	
}*/
#content{
	
}
#content td.image_cell{
	width:32px;
	vertical-align:top
}
#content .introtext{
	font-family:Verdana ,"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
	font-size:10px;
	font-weight:normal;
	color:#999999;
	padding-left:3px;
}

#content a.mainlink:link, #content a.mainlink:active, #content a.mainlink:visited{
	font-family:"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-decoration:none;
	padding-left:3px;
}
#content a.mainlink:hover{
	font-family:"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
	font-size:13px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
	padding-left:3px;
}

/* Left navigation CSS */
/*#left_nav{

}
#left_nav .header{
	background-image:url("../../media/images/nc/left_nav_bg_dn.gif");
	width:151px;
	height:28px;
	cursor:pointer
}
#left_nav .stats{
	background-image:url("../../media/images/nc/left_nav_bg.gif");
	width:151px;
	height:24px;
	cursor:pointer
}

#left_nav .header_hover{
	background-image:url("../../media/images/nc/left_nav_bg_over.gif");
	width:151px;
	height:28px;
	cursor:pointer;
}
#left_nav .left_nav_header{
	padding-left:10px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666666;
}
#left_nav .left_nav_stats{
	padding-left:10px;
	text-transform:capitalize;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
}

.hidediv{
	display:none;
}
.showdiv{
	display:block;
}*/

/* Inner Nav Css */
#inner_nav{
	
}
#inner_nav .inner_nav_tab{
	background-image:url("../../media/images/nc/inner_tab_nav_02.gif");
	height:22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	vertical-align:text-top;
	cursor:pointer;
}
#inner_nav .inner_nav_tab_sel{
	background-image:url("../../media/images/nc/inner_tab_nav_sel_02.gif");
	height:22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	vertical-align:text-top;
	cursor:pointer;
}

#inner_nav a.tab_text:link, #inner_nav a.tab_text:active, #inner_nav a.tab_text:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	padding:0px 3px 0px 3px;
}
#inner_nav a.tab_text:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	padding:0px 3px 0px 3px;
}

/* Table Grid Blue */
/*#table_grid_blue{	
	background-color:#B8CFD5;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;	
}
#table_grid_blue tr.even{
	background-color:#F9FCFE;
}
#table_grid_blue tr.odd{
	background-color:#FFFFFF;
}
#table_grid_blue tr.highlight{
    background-color:#BAFCBA;
}
#table_grid_blue tr.on_over{
	background-color:#FCFCDA;
}
#table_grid_blue tr.header{
	background-color:#F1F5F8;
	color:#666666;	
	font-weight:bold;
	padding-left:5px;
	cursor:pointer;
	line-height:15px;
}
#table_grid_blue td.header{
	background-color:#F1F5F8;
	color:#666666;	
	font-weight:bold;
	padding-left:5px;
	cursor:pointer;
	line-height:25px;
}
#table_grid_blue td.headtext{
	background-color:#F1F5F8;
	font-size:12px;			
	color:#666666;	
	font-weight:bold;
	padding-left:5px;
	line-height:25px;
}
#table_grid_blue td.normaltext{		
	color:#666666;	
	font-weight:normal;
	padding:2px 0px 2px 5px;
}
#table_grid_blue td.normaltext_img{		
	color:#666666;	
	font-weight:normal;
	text-align:center;
	padding:2px 0px 2px 0px;
}
#table_grid_blue a:link, #table_grid_blue a:active, #table_grid_blue a:visited{	
	color:#FF6600;
	text-decoration:none;
}
#table_grid_blue a:hover{	
	color:#FF6600;
	text-decoration:underline;
}
#table_grid_blue .button{
	background-image:url("../../media/images/nc/btn_bg.gif");
	width:91px;
	height:21px;
	border:0px solid #FFFFFF;
	font-family:"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	background-color:transparent;
	margin:5px 0px 5px 0px;
	cursor:pointer;
}
#table_grid_blue .longbutton{
    background-image:url("../../media/images/nc/btn_lbg.gif");
    width:120px;
    height:21px;
    border:0px solid #FFFFFF;
    font-family:"Trebuchet MS", "Bookman Old Style", "Times New Roman", Verdana, Arial;
    font-size:13px;
    font-weight:normal;
    background-color:transparent;
    margin:5px 0px 5px 0px;
    cursor:pointer;
}
#table_grid_blue table td.normaltext{		
	color:#666666;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	padding:2px 0px 2px 5px;	
}
.html_select{
	color:#666666;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	padding:2px 0px 2px 5px;
}
.punch_line {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-stretch:condensed;
	font-weight:bold;
	padding-left:25px;
	text-transform:uppercase;
}
.hidden {display:none;}
.visible {display:;}
.show{
	display:compact;
}

.hide{
	display:none;
}
.signal_0 {
    background:url("../../media/images/nc/access.gif") 0 0 no-repeat;
    height:16px;
}
.signal_1 {
    background:url("../../media/images/nc/access.gif") 0 -16px no-repeat;
    height:16px;
}
.signal_2 {
    background:url("../../media/images/nc/access.gif") 0 -32px no-repeat;
    height:16px;
}
.signal_0_t {
    background:url("../../media/images/nc/access_t.gif") 0 0 no-repeat;
    height:16px;
}
.signal_1_t {
    background:url("../../media/images/nc/access_t.gif") 0 -16px no-repeat;
    height:16px;
}
.signal_2_t {
    background:url("../../media/images/nc/access_t.gif") 0 -32px no-repeat;
    height:16px;
}


.tab-head-text{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
}
*/
