a.highlight:link, a.highlight:active, a.highlight:visited{
color:#000000;
font-size:11px;
}

a.highlight:hover {
color:#0000FF;
}

a.test_class:link, a.test_class:active, a.test_class:visited {
color:#FF0000;
}

a.test_class:hover {
color:#FF0000;
font-size:10px;
}

.ntext{
   padding: 0px 0px 0px 0px;
}

.content_text1{
    font-size: 10pt; 
    font-family: Arial,Helvetica,sans-serif;
   color: #000CC0;
}

 
.vr-repeater{ 	
    background-image:url("../../media/images/vr-repeater.jpg");
	background-repeat:repeat-y;
	width:1px;
}

.pagetitle {
	
	color: #999999;
	font-family: arial;
	font-size: 19px;
	letter-spacing: 0em;
	line-height: 19px;
	font-weight: normal;
	
	padding: 0px;
	margin: 0px 0px 20px 0px;
}

.pagesubtitle {
	
	color: #555555;
	font-family: arial;
	font-size: 15px;
	letter-spacing: 0em;
	line-height: 15px;
	font-weight: normal;

}
.inner-content{
        font-family: verdana,sans-serif;
	font-size: 11px;
	color: #505050;
	text-align: justify;
	line-height: 16px;

}

.space{padding-right:20px;}


#page-body #home-box1 {

		position: absolute;

		top: 18px;

		left: 20px;

		width: 842px;

		height: 20;

		cursor: pointer;

		margin:0px;	

	}

	

	#page-body #home-box2 {

		position: absolute;

		top: 41px;

		left: 18px;

		width: 842px;

		height: 1px;

		cursor: pointer;

		background-image:url("../../media/images/pink-repeater.jpg");

		background-repeat:repeat-x;

		background-position:top;

	}

	

	#page-body #content-page-body {

		position: absolute;

		top: 45px;

		width: 873px;

		height: 120px;

		margin: 0px; 

		padding: 0px;

			

	}

		#content-page-body #content-page-01-1 {

			position: absolute;

			top: 20px;

			left: 40px;

			height:90px;

		}

		

		#content-page-body #content-page-01-2 {

			position: absolute;

			top: 20px;

			left: 170px;

			height: 90px;

		}

		#content-page-body #content-page-01-3 {

			position: absolute;

			top: 20px;

			left: 299px;

			height: 90px;

			

		}

		#content-page-body #content-page-01-4{

			position: absolute;

			top: 20px;

			left: 432px;

			height: 90px;

			

		}

		#content-page-body #content-page-01-5 {

			position: absolute;

			top: 20px;

			left: 562px;

			height: 90px;

		}

		

		#content-page-body #content-page-01-6 {

			position: absolute;

			top: 20px;

			left: 692px;

			height: 90px;

		}

		

	#page-body #content-page-body1 {

		position: absolute;

		top: 125px;

		width: 873px;

		height: 90px;

		margin: 0px; 

		padding: 0px;

		

	}

		#content-page-body1 #content-page-02-1 {

			position: absolute;

			top: 3px;

			left: 40px;

			height: 90px;

			

		}

		

		#content-page-body1 #content-page-02-2 {

			position: absolute;

			top: 3px;

			left: 170px;

			height: 90px;

			

		}

		#content-page-body1 #content-page-02-3 {

			position: absolute;

			top: 3px;

			left: 301px;

			height: 90px;

			

		}

		#content-page-body1 #content-page-02-4{

			position: absolute;

			top: 3px;

			left: 435px;

			height: 90px;

			

		}

		#content-page-body1 #content-page-02-5 {

			position: absolute;

			top: 3px;

			left: 568px;

			height: 90px;

		}

		

		#content-page-body1 #content-page-02-6 {

			position: absolute;

			top: 3px;

			left: 700px;

			height: 90px;

		}
                .seperater1
                { 
                   background: url(" http://www.smeerptech.com/userfiles/editor/image/saperater11.jpg") repeat-x;
	           height="5px";
                 }
                .font-size1
                 {
	           font-family:Arial;
	           font-size:14px;
	           font-weight:bold;
	           text-decoration:none;
	           padding:10px 0 0 0;
                 }
                .font-size2
                 {
	            font-family:Arial;
	            font-size:11px;
	            font-weight:regular;
	            text-decoration:none;
	             padding:0 0 5px 0;
                    line-height:15px;
                    
                 }
               .font-size3
                 {
	            font-family:Arial;
	            font-size:13px;
	            font-weight:regular;
	            text-decoration:none;
	             padding:5px 0 3px 0;
                  }
.font-desktop {
    color: #505050;
    font-family: Arial,serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    text-decoration: none;
}
.font-desktop-heading {
    color: #D71920;
    font-family: Arial,serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    padding: 10px 0 5px;
    text-decoration: none;
}