/*

    Primary CSS for My.Rackspace.com. 

*/

@import "default0.css";
@import "cbe00000.css";


/*
    ******** HTML ********
*/

body {
    color: #000;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
	background-color: #ccc;
	background-image: url(../../images/admin/backgrou.gif);
	background-repeat: repeat-x;
}

img {
    border: 0;
}

/*
    ******** Utility Classes ********
*/


.clear {
    /*  hack to get the container div to 
        grow vertically to contain all
        child divs - apply to a br tag
    */
    
    clear: both; 
    line-height: 0px;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.leading_150 {
    line-height: 1.5em;
}

.leading_175 {
    line-height: 1.75em;
}

/*
    ******** The Container Div ********
*/

#container {
    background-color: #fff;
	background-image: url(../../images/admin/content_.gif);
	background-repeat: repeat-y;
	background-position: 32px top;
    border-color: #666;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    width: 100%;
    margin: 0 auto 0 20px;
    padding: 0;
}



#content_body br.clear
{
	clear: left;
	display: none;
	line-height: 0;
}



/*
    ******** Header Information ********
*/

#header {
	width: auto;
	background-color: #602;
	margin: 0;
	padding: 0;
	background-image: url(../../images/admin/header_b.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}

/*  need to fix all of the height stuff 
    to allow the header to grow with the  content if 
    the site visitor has a long name or if
    the visitor has a large font size set
    http://www.mezzoblue.com/archives/2004/09/16/minheight_fi/
*/

/* for Moz Safari Opera */
*>#header { padding-top: 60px;}
*>#header div {margin-top: -60px;}
*>#header h1 {margin-top: -60px;}

/* for IE, with IE5/Mac filter \*/
* html #header { height: 60px; } 
/* end filter */

#header h1 {
	text-indent: -5000px;
	width: 300px !important;
	/*this works for most....*/
	/**/
	/*for bad boxes*/
	height: 70px;
	background-image: url(../../images/admin/header_M.gif);
	background-repeat: no-repeat;
	background-position:left;
    margin-bottom: 0;
    padding-bottom: 0;
}

#user_ident {
    float: right;
    padding: 15px 10px 10px 10px;
}

#user_ident a {
	font-weight: bold;
	color: #fff;
}

#user_ident img { vertical-align: text-bottom; }

.username {
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	margin-top: 10px;
	padding: 10px;
}

.logout {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	padding: 2px 5px;
	text-decoration: none;
}

/*
    ******** Content area - 3 cols ********
*/

#content_body {
	clear: both;
	margin: 0 0 0 0;
	padding: 0;
}


#content_body_full {
	margin: 0 0 0 0;
	padding: 0;
	background-color: #fff;
}


#left {
	padding: 0 0 0 0;
	margin: 0 180px 0 0;
}



#nav {
	float: left;
	width: 171px;
	margin: 0;
	padding: 100px 10px 10px 10px;
	border-right: 1px #999 solid;
	background-image: url(../../images/admin/MyRS_nav.jpg);
	background-position: right top;
	background-repeat: no-repeat;
}


#nav_support_phone {
    font-size: 10px;
    width: 150px;
    margin: -90px 5px 30px 5px;
    color: #333;
}

#nav_support_phone strong {
    color: #800;
}

#content {
    padding: 0px 10px 20px 10px;
    margin: 0 0 0 0px;
	border-left: 0px #999 solid;
}
#content_full {
    padding: 0;
    margin: 0;
}

#content p,dl,ul,ol,h1,h2,h3,h4,h5{
    margin-left: 10px;
}

#content_full p,dl,ul,ol,h1,h2,h3,h4,h5{
    margin-left: 10px;
}
/*

div#content table {
    float: right;
}
*/

#marketing {
    padding-top: 20px;
    float: right;
    width: 160px !important; /*this works for most....*/
    width: /**/160px; /*for bad boxes*/
    padding: 10px;
}

#content h1 {
    color: #800;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 0;
    margin-top: 0;
    text-shadow: 2px 2px 3px #c02;
    }
#content_full h1 {
    color: #800;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 0;
    margin-top: 20px;
    text-shadow: 2px 2px 3px #c02;
    }

#content h2 {
    color: #800;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin-top: 20px;
    margin-left: 15px;
}

#content_full h2 {
    color: #800;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin-top: 20px;
    text-indent: 5px;
}


h3 {
    color: #346;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0;
    font-style: italic;
}




#content p {
    color: #000;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 10px;
    }
#content_full p {
    color: #000;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 10px;
    } 


#content table { clear: none; }
#content_full table { clear: none; }


/*
******** Crumbtrail ********
*/

#crumbtrail {
    height: 18px;
    border-bottom: #330 1px dotted;
    background: #f7f7f7;
    margin: 0;
    text-indent: 20px;
}

#crumbtrail a
{
	margin-top: 3px;
	padding-top: 3px;
	line-height: 18px;
}
#crumbtrail a:link { text-decoration: none; }
#crumbtrail a:visited { text-decoration: none; }
#crumbtrail a:hover { text-decoration: underline; }
#crumbtrail a:active { text-decoration: underline; background-color: #ff9; }
#crumbtrail a.selected { color: #c02; }

#sidebar p {
    padding: 5px;
}


/*
******** Navigation List Boxes *********
*/

#nav ul { margin: 5px auto 15px 0; }

.navigation {
    list-style: none outside;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 140px !important; /*this works for most....*/
    width: /**/142px; /*for bad boxes*/    
}

.navigation li h2 {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}

.navigation li h3 {
    color: #000;
    font-weight: bold;    
    font-size: 12px;
    line-height: 18px;
    display: inline;
    font-style: normal;       
}

.navigation li {
	text-indent: 10px;
	width: 100%;
	line-height: 14px;
	padding-left: -10px;
	margin: 0;
	font-size: 11px;

}

.navigation li a:link {
    color: #666;
    text-decoration: none;
}
.navigation li a:visited {
    color: #666;
    text-decoration: none;
}

.navigation li a:hover {
    color: #800;
    text-decoration: underline;
}

.navigation li a:active {
    color: #800;
    text-decoration: none;
}



.navigation li:last-child {
    border-bottom: none;
}

li.selected {
	background-position: left;	
	color: #c02;
}

li.selected a { color: #c02; }

li.header {
	text-indent: 0;
}

.navigation li a {
    padding-left: 3px;
    text-decoration: none;
}

.navigation li a:hover { text-decoration: underline; }


/*
    ******** footer ********
*/

#footer {
	clear: both;
	background-color: #fff;
	padding: 0;
	margin: 0;
	width: 100%;
	border-top: 1px #999 solid;
	background-image: url(../../images/admin/footer_V.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#footer p {
    margin: 0 0 0 70px;
    padding: 10px 0 5px 5px;
    color: #999;
    font-size: 10px;
}


/*
    ******** Styles For The List Tables ********
*/

table.List {
    font-size: 12px;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    margin-left: 10px;
}

.List th {
    text-align: left;
    border-left: 0;
    border-right: 0;
    padding: 4px;
    border-bottom: 1px solid #DBDBDB;
    border-top: 1px solid #999;
}

.List th + th { border-left: 1px solid #ccc; }

.ListSortSelected {
    background: #D9E9FF url('../../images/admin/selected.gif') repeat-x top;
    cursor: pointer;
}

.ListSortSelected a, .ListSortSelected a:hover, .ListSortSelected a:visited {
    background: #D9E9FF;
    color: #000000;
    text-decoration: none!important;
}

.ListSortUnSelected {
    background: #F5F5F5 url('../../images/admin/unselect.gif') repeat-x top;
    cursor: pointer;
}

.ListSortUnSelected a, .ListSortUnSelected a:hover, .ListSortUnSelected a:visited {
    background: #F5F5F5;
    color: #000000;
    text-decoration: none!important;
}

/* 
    ********vertical list table ********
*/
table.vert_List {
    font-size: 12px;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

.vert_List th {
    text-align: left;
    border-left: 0;
    border-right: 1px solid #DBDBDB;
    padding: 4px;
    border-bottom: 1px solid #DBDBDB;
}

/*
    ******** Unsortable List Table ********
*/
.ListUnsortable { background: #F5F5F5 url('../../images/admin/unselect.gif') repeat-x top; }




.left { text-align: left; }
.columnList td { text-align: center; }

/*
    ******** Alerts ********
*/

.error {
    background-color: #ffeeec;
    border: 1px solid #900;
    padding: 10px;
    margin: 10px;
}

.warning {
    background-color: #fffcec;
    color: #f00;
    border: 1px solid #C90;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.action {
    background-color: #f5fbff;
    border: 1px solid #06c;
    padding: 10px 10px 10px 10px;
    width: 60%;
    margin: 10px auto;
}

.success {
    background-color: #f4ffec;
    border: 1px solid #0c3;
    padding: 10px 10px 10px 10px;
    width: 60%;
    margin: 10px 190px 10px 20px;
}

.new_entry {
    color: #890;
    font-weight: bold;
}


/*
    ******** Inline Form ********
    Lets us stick a form into the middle of something
    else without displaying oddly. I don't think it'll
    really validate (HTML wise), but there are times
    when this is needed.
*/

.inlineForm {
    display: inline;
    padding: 0 10px 0 10px;
}

/*
    ******** Form Stlyes ********
    Different things for forms
*/

select.device {
	width: 95%;
	background-color: #f7f7f7;
}

.divider_row {
    background-color: #eee;
}



/*
    ******** Styles For Step Bar ********
    for multi-step tasks
*/
table.stepBar {
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    /*  border-left : 1px solid #CCCCCC; */
    /*  border-right : 1px solid #CCCCCC; */
    /*  background-color: #efefef;  */
}

.stepName {
    padding-left: 5px;
    font-weight: bold;
    color: #006;
    font-size: 11px;
}

.stepNumberOff, .stepNumberOn, .stepNumberComplete {
    font-size: 11px;
    background-color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #666666;
}

.stepNumberOn {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF0000;
}

.stepNumberOff {
    color: #000000;
    background-color: #FFFFFF;
}

.stepNumberComplete {
    font-weight: bold;
    color: #666666;
    background-color: #F5F5F5;
    border: 1px solid #666666;
}

/*
    ******** Styles ticket table list ********
*/

#more_tickets
{
	width: 300px;
	margin: 10px auto 10px auto;
	text-align: center;
	font-size: 11px;
}

#more_tickets a:link {
    text-decoration: none;
}
#more_tickets a:visited {
    text-decoration: none;
}

#more_tickets a:hover {
    text-decoration: underline;
}

#more_tickets a:active {
    text-decoration: none;
}


.curr_page {
	font-weight: bold;
	background-color: #FF9;
}

#error_msg {
    width: 300px;
    margin: 10px auto 10px auto;
    text-align: center;
    border: 1px solid #990000;
    font-weight: bold; 
    background-color: #fff;
}

.system_error {
    color: yellow;
}

.user_error {
    color: red;
}

.curr_page {
	font-weight: bold;
	background-color: #FF9;
}

.ticket_table {
    font-size: 10px;
    border: 1px #ccc solid;
    width: 95%;
    margin: 10px auto;
}

table.ticket_table th {
    background-color: #bbb;
    font-size: 11px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

table.ticket_table td {
    vertical-align: top;
}

table.ticket_table select {
    font-size: 10px;
}


/* home page ticket table */

.ticket_table_home {
    font-size: 10px;
    border: 1px #ccc solid;
    margin: 10px auto;
}

table.ticket_table_home th {
    background-color: #bbb;
    font-size: 11px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

table.ticket_table_home td {
    vertical-align: top;
}

table.ticket_table_home select {
    font-size: 10px;
}



.center {
	text-align: center;
	vertical-align: middle;
}

.white_row {
    background-color: #fff;
}

.shade_row {
    background-color: #eee;
}

.title_row {
    background-color: #aaa;
    text-align: center;
}

tr.title_row td {
    text-align: center;
    font-weight: bold;
}


.column_table {
    font-size: 10px;
    border: 1px #000 solid;
    margin: 10px auto;
}

table.column_table th {
    background-color: #bbb;
    font-size: 11px;
    color: #235;
    font-weight: bold;
    text-align: center;
}

.first_col {
    border-left: 0 transparent none;
}
table.column_table td {
    border-left: 1px #aaa solid;
    vertical-align: top;
}

table.column_table td.first_col {
    border-left: 0 transparent none;
}

table.column_table select {
    font-size: 10px;
}

/* 
    40% wide table - just like ticket_table_home except for 
    width and l/r margin, which are 10px instead of auto
    so that the table will take html aligns correctly

*/
.table_40 {
    font-size: 10px;
    border: 1px #000 solid;
    width: 45%;
    margin: 10px 10px;
}

table.table_40 th {
    background-color: #bbb;
    font-size: 11px;
    color: #235;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px #000 solid;
}

table.table_40 td {
    vertical-align: top;
}

table.table_40 select {
    font-size: 10px;
}


.l { /* to remove the left border on a left side cell */
    border-left: 0px #f00 none;
}

.r { /* to remove the right border on a right side cell */
    border-right: 0;
}



.tic_desc {
}

.tic_date {
    color: #777;
}

.username {
    vertical-align: top;
    font-weight: 400;
}

/*
    ******** Styles View/Edit ticket ********
    Lots of stuff that format tickets in the view/edit pane
*/

#recipients {
	float: right;
	width: 20%;
	border: 1px #000 solid;
	margin-right: 20px;
	margin-left: 20px;
}

#recipients ul {
    margin: 10px;
    padding: 0;
}

#recipients li {
    list-style: none;
    margin: 0;
    padding: 0.25em;   
}


dl.ticket {
    margin:  5px 20px;
}

dl.ticket dt {
	color: #235;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 80%;
	margin: 10px 0;
}

dl.ticket dd {
	color: #000;
	font-family: Courier, monaco, monospace;
	font-size: 12px;
	width: 80%;
	padding: 5px;
	border-color: #ccc;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	background-color: #ccc;
}

dl.ticket dd.rackspace {
	background-color: #ddd;    
	margin-top: 10px;
}

dl.ticket dd.customer {
	background-color: #cdf;    
	margin-top: 10px;	
}

dl.comment {
    margin:  5px 20px;
}

dl.comment dt {
	color: #235;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 70%;
	margin: 10px 0;
}

dl.comment dd {
	color: #000;
	font-size: 12px;
	width: 90%;
}

.who_said {
    font-weight: bold;
}


/*
    Styles for the KB area
*/

table#kb_topics {
    width: 85%;
    border: 1px #eee solid;
    margin-left: 7.5%;
}
#kb_topics td {
    color: #568;
    font-size: 1.25em;
    text-align: center;
    padding: 2px 10px;
}

#kb_topics a:link   { color: #568; text-decoration: none; }
#kb_topics a:visited{ color: #568; text-decoration: none; }
#kb_topics a:hover  { color: #568; text-decoration: underline; }
#kb_topics a:active { color: #568; text-decoration: underline; background-color: #ff9; }

table#kb_latest, table#kb_popular {
    width: 85%;
    border: 1px #eee solid;
    margin-left: 7.5%;
}
#kb_latest td, #kb_popular td {
	color: #000;
	font-size: 1em;
	padding: 5px 5px;
	vertical-align: top;
}

#kb_latest th, #kb_popular th {
    color: #000;
    font-size: 1em;
    text-align: center;
    padding: 2px 5px;
    background-color: #DEDBD5; /* #bbb is the other option */
}


#kb_latest a:link   { color: #568; text-decoration: none; }
#kb_latest a:visited{ color: #568; text-decoration: none; }
#kb_latest a:hover  { color: #568; text-decoration: underline; }
#kb_latest a:active { color: #568; text-decoration: underline; background-color: #ff9; }

#kb_popular a:link   { color: #568; text-decoration: none; }
#kb_popular a:visited{ color: #568; text-decoration: none; }
#kb_popular a:hover  { color: #568; text-decoration: underline; }
#kb_popular a:active { color: #568; text-decoration: underline; background-color: #ff9; }

#kb_path {
    height: 18px;
    width: 85%;
    padding: 5px 0;
    border: #ddd 1px solid;
    background: #f7f7f7;
    margin: 10px 7.5% 10px 7.5%;
    font-size: 1em;
    text-indent: 10px;
}

#kb_path a:link     { color: #568; text-decoration: none; }
#kb_path a:visited  { color: #568; text-decoration: none; }
#kb_path a:hover    { color: #568; text-decoration: underline; }
#kb_path a:active   { color: #568; text-decoration: underline; background-color: #ff9; }
#kb_path a.selected { color: #c02; }

.hed {
    color: #a00;
    background-color: #eee;
}


/* Knowledge base articles */


#search_box {
	float: right;
	width: 20%;
	border: 1px #ccc solid;
	margin-right: 20px;
	margin-left: 20px;
	padding: 0;
}

#search_box form {
    margin: 5px;
}

#search_box input {
    margin: 5px 0;
}


.box_head {
    display: block;
    width: 100%;
    background-color: #ccc;
    border-bottom: 1px #ccc solid;
    padding: 2px 0;
    margin-bottom: 5px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
}

dl.article {
    margin:  5px 20px;
}

dl.article dt {
	color: #235;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	width: 70%;
	margin: 5px 0;
}

dl.article dd {
	color: #000;
	background: #eee;
	font-family: Courier, monaco, monospace;
	font-size: .8em;
	width: 60%;
	padding: 2px;
	border: 1px #CCC solid;
}

/* article search results */

.search_terms {
    font-weight: bold;
    padding-left: 4px;
}


/* Security Portal */

dl.security {
	width: 80%;
	border: 1px #ccc solid;
	margin-left: 20px;
	padding: 0;
}

dl.security dt {
    display: block;
    width: 100%;
    background-color: #ccc;
    border-bottom: 1px #ccc solid;
    padding: 2px 0;
    margin-bottom: 5px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
}
dl.security dd {
    width: 90%;
    background-color: transparent;
    padding: 2px 5%;
    margin: 0;
    line-height: 1.5em;
}


/* style for lists that get used as inline elements */

dl.horizontal {
	background-color: #eee;
	border: 1px #bbb solid;
	width: 90%;
	padding: 5px;
	margin: 5px 5%;
	line-height: 1.5;
	text-align: center;
}

dl.horizontal dt {
    font-weight: bold;
}

dl.horizontal dd {
    /*border-left: 1px #bbb solid;*/
    padding-left: 10px;
}

/* Styles for DLs */

dt {
    font-weight: bold;
}


/* multi-step processes */
dl.process {
	width: 80%;
	border: 1px #ccc solid;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}

dl.process dt {
    display: block;
    width: 100%;
    background-color: #ccc;
    border-bottom: 1px #ccc solid;
    padding: 2px 0;
    margin-bottom: 5px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
}
dl.process dd {
    background-color: transparent;
    padding: 2px 5%;
    margin: 0;
    line-height: 1.5em;
}

dl.process dd dt {
    background-color: transparent;
    display: block;
    width: 100%;
    border-bottom: 1px #ccc solid;
    padding: 2px 0;
    margin-bottom: 5px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: left;
}




/* styles for dls that are in forms */

dl.form {

}

dl.form dt {
    font-weight: bold;
    font-size: 1.12em;
    color: #235;
}


dl.form dt {
    margin-top: 5px;
}

dl.form dd {
    margin: 5px 0;
    padding-left: 0;   
}


.direction {
    color: #888;
    font-size: 10px;
}


dl.edit_mono {
    margin:  5px 20px;
}

dl.edit_mono dt {
	color: #235;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 5px 0;
}

dl.edit_mono dd {
	line-height: 120%;
	font-family: Courier, monaco, monospace;
	font-size: 12px;
	padding: 5 5px;
	margin: 0 5px;
	
}

dl.view_mono {
    margin:  5px 20px;
}

dl.view_mono dt {
	color: #235;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	/*width: 70%;*/
	margin: 10px 0 5px 0;
}

dl.view_mono dd {
	font-family: Courier, monaco, monospace;
	font-size: 12px;
	padding: 5px;
}


/* sortable tables */

#row {
    border: 1px #ccc solid;
    font-size: 11px;
    margin-top: 20px;
}
#row thead {
    background-color: #bbb;
    border-bottom: 2px #bbb solid;
    padding-bottom: 5px;
}
#row thead th {
    padding: 2px 5px;
}

#row tbody td { 
    border-left: 1px #aaa solid;
    padding: 2px 5px;
}

#row tbody td.first_col { 
    border-left: 0px #aaa none;
}

.pagebanner { /* for the nav elements above */
    margin: 10px 10px 10px 10px;
}

table.sorter {
    font-size: 10px;
    border: 1px #ccc solid;
    width: 95%;
    margin: 10px auto;
    padding: 0px;
    line-height: 14px;
}

table.sorter tr {
}

table.sorter th {
    background-color: #bbb;

}

table.sorter td {
    padding: 2px 5px;
}

table.sorter_home {
    font-size: 10px;
    border: 1px #ccc solid;
    margin: 10px auto;
    padding: 0px;
    line-height: 14px;
}

table.sorter_home tr {
}

table.sorter_home th {
    background-color: #bbb;

}

table.sorter_home td {
    padding: 2px 5px;
}


.odd { /* assigned to the tr tag of all odd numbered data rows */
    background-color: #f3f7ff;
}
.even { /* assigned to the tr tag of all even numbered data rows */
    background-color: #fff;
}

.sorted { /* assigned to the th tag of the sorted column */
    background-color: #eee;
}

.order1 { /* assigned to the th tag of the sorted column if sort order is ascending */
    background-color: #eee;
}

.order2 { /* assigned to the th tag of the sorted column if sort order is descending */
    background-color: #eee;
}

.sortable { /* assigned to the th tag of a sortable column */
    background-color: #ddd;
}

span.pagebanner, span.pagelinks {
	display: block;
	width: 85%;
	margin: 10px auto;
	border-bottom: 1px solid #666;
	text-align: center;
}

form.filter_button {
    display: inline;
    margin: 5px 10px;
}

tr.total {
    font-weight: bold;
    background-color: #ddd;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;    
}

.overlib {
	padding: 1px 6px 1px 2px;
	text-decoration: none;
	background-image: url(overlib_.gif);
	background-repeat: no-repeat;
	background-position: right;
	cursor: help;
}
a.overlib {
    color: #c00;   
	cursor: help;    
}

/* user manager stuff */
.perm_table {
    width:60%;
    font-size: 10px;
    border: 1px #ccc solid;
    margin: 10px 20px;
}

table.perm_table th {
    background-color: #eee;
    font-size: 11px;
    color: #000;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
    border-bottom: 1px #ccc solid;
}


table.perm_table td {
    vertical-align: top;
}


.perm_index_table {
    width:80%;
    font-size: 10px;
    border: 1px #ccc solid;
    margin: 10px 20px;
}

table.perm_index_table th {
    font-size: 11px;
    color: #000;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px #ccc solid;
    padding: 2px;
}

table.perm_index_table th.user {
    background-color: #eee;
}

table.perm_index_table th.perm {
    background-color: #eef;
}


table.perm_index_table td {
    vertical-align: middle;
    padding: 2px;
}

table.perm_index_table a {

}



.active {
    color: #090;
}

.pending {
    color: #c02;

}

.disabled {
	color: #666;
	text-decoration: line-through;
}
.emergency {
    font-weight: bold;
}

.chunk {
    border: 1px #eee solid;
    margin: 10px auto;
   /* width: 85%;*/
    padding: 10px;
}

.chunk_narrow {
	border: 1px #ddd solid;
	margin: 10px 190px 10px 15px;
	padding: 5px;
}

.footer_chunk_narrow {
	border-right: 1px #ddd solid;
	width: 200px;
	margin: 0;
	padding: 5px;
	float:left;
}


/* Managed Backup tables */

.mb {
    width:80%;
    font-size: 10px;
    border: 1px #ccc solid;
    margin: 10px 20px;
}

table.mb th {
    background-color: #ddd;
    font-size: 11px;
    line-height: 18px;
    color: #000;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px #ccc solid;
    padding: 2px 5px;
}

table.mb td {
    line-height: 16px;    
    padding: 2px 5px;
}

table.mb td.total_gb {
    line-height: 16px;    
    padding: 2px 5px;
    text-align:right;
    border-left: 1px #eee solid;    
}


table.mb td.subhead {
    background-color: #eee;
    padding: 2px 10px;
    font-weight: bold;
}

table.mb td.subhead_r {
    background-color: #eee;
    padding: 2px 10px;
    text-align: right;
    font-weight: bold;
    border-left: 1px #ccc solid;
}


table.mb td.total {
    background-color: #eee;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

table.mb td.total_r {
    background-color: #eee;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    border-left: 1px #ccc solid;    
}

/* domain manager */

#dom_step_1 {
    width: 35%;
    border: 1px #ddd solid;
    margin: 0 10px 20px 20px;
    padding: 0 20px 20px 20px;
    height: 450px;
}
#dom_step_2 {
    width: 35%;
    border: 1px #ddd solid;
    float:right;
    margin: 0 20px 20px 10px;
    padding: 0 20px 20px 20px;
    height: 450px;
}

#dom_step_2 input{
    margin: 10px 15px;
    width: 80%;
}   

#dom_step_1 select{
    margin: 10px 15px;
    width: 80%;    
}   

.lable {

}

/* dev banner */

#dev {
	clear: both;
	background-color: #fff;
	padding: 0;
	margin: 0;
	width: 100%;
	border-top: 2px #f00 solid;
	border-bottom: 2px #f00 solid;	
}

#dev p {
    margin: 0 0 0 70px;
    padding: 10px 0 5px 5px;
    color: #c00;
    font: 12px bold;
}


#loading {
    
}

.borderless {
	font-size: 11pt;
	font-weight: bold;
	color: #c00;
	border-collapse: collapse;
    border: 1px none #fff;
    text-align: center;
}

.red_bold {
	color:#FF0000;
	font-weight:bold;
}
.padding_25_l {
	padding:1px 20px 1px 25px;
}
.align_left {
	text-align:left;
	padding-left:10px;
}
.helpText_red{
	color:#FF0000;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.hide
{
	display:none;
}
.show
{
	display:'';
}
/* End of File */
