﻿/* BO: Top Menu */

#content-main #top-menu-div {
	position: relative;
	top: 0px;
	left: 0px; 
	width: 873px;
	height: 26px;
	background: transparent url("../../media/images/menu-repeater.jpg") repeat-x;
	z-index: 200;
}
#top-menu-div .clear {
	clear: both;
}
#top-menu-div #top-menu {
	position: absolute;
	top: 0px;
	width: auto;
	height:25px;
	margin: 0px; 
	padding: 0px;
	border: 0px;
}

#top-menu-div ul {
	position: absolute;
	left: 0px; 
	top: 21px;
	width: 210px;
	margin: 1px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	list-style-type: none;
	z-index: 100;
}

#top-menu-div li {
	position: relative;
	top: 0px;
	padding: 1px 0px 0px 0px;
	margin: 0px;
}

#top-menu-div li.hover {
	border: 0px;
}

#top-menu-div li.top-level-item {
	top: 2px;
	display: inline;
	float: left;
	height:25px;
}


#top-menu-div li.top-level-item span {
	padding: 3px 10px 7px 10px;
	font-family:Arial, Verdana, 'San serif';
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	cursor: pointer;
}
#top-menu-div li.top-level-item ul {
	background: #E8E8E8;
	*-moz-opacity:0.98;filter:alpha(opacity=98);opacity: 0.98;
}

#top-menu-div li.top-level-item span.hover {
	background: transparent url("../../media/images/top-menu/hover.jpg") repeat-x;
}

#top-menu-div a.level-0 {
	color: #000000;
	font-family:Arial, Verdana, 'San serif';
	font-size:11px;
	text-decoration: none;
}
#top-menu-div a.level-0:hover {
	text-decoration:none;
}


#top-menu-div a.level-1:link,
#top-menu-div a.level-1:visited {
	display: block;
	width: 200px;
	padding: 3px 5px 3px 5px;
	background: #F5F5F5;
	font-family:Arial, Verdana, 'San serif';
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	*-moz-opacity:0.95;filter:alpha(opacity=95);opacity: 0.95;
}

/*#top-menu-div a.level-1-last:link,
#top-menu-div a.level-1-last:visited {
	display: block;
	width: 200px;
	padding: 3px 5px 3px 5px;
	background: #F5F5F5;
	font-family: Verdana,sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	*-moz-opacity:0.95;filter:alpha(opacity=95);opacity: 0.95;
}*/

/*#top-menu-div a.level-1.hover:link,
#top-menu-div a.level-1.hover:visited,
#top-menu-div a.level-1-last.hover:link,
#top-menu-div a.level-1-last.hover:visited {
	background-color: #DDDDDD;
}
*/

#top-menu-div a.level-2:link,
#top-menu-div a.level-2:visited {
	display: block;
	width: 185px;
	padding: 3px 0px 3px 25px;
	background: #F5F5F5 url("../../media/images/navigation/bullet.gif") no-repeat 18px 7px;
	font-family:Arial, Verdana, 'San serif';
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	*-moz-opacity:0.95;filter:alpha(opacity=95);opacity: 0.95;
}


#top-menu-div a.level-2.hover:link,
#top-menu-div a.level-2.hover:visited {
	background: #DDDDDD url("../../media/images/navigation/bullet.gif") no-repeat 18px 7px;
}

#top-menu-div a.level-1:hover,
#top-menu-div a.level-2:hover {
	/*background-color: #ECECEC;*/
	background-color: #E6E6E6;
}

.sub-head {
	display: block;
	width: 200px;
	padding: 2px 5px 2px 5px;
	background: #FFFFFF;
	font-family:Arial, Verdana, 'San serif';
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	cursor: arrow;
	*-moz-opacity:0.95;filter:alpha(opacity=95);opacity: 0.95;
}

#top-menu-div .has-subs {
	position: relative;
}

#top-menu-div ul.sub-menu {
	position: absolute;
	left: 210px; 
	top: 0px;
	margin-top: -1px;
	margin-left: 40px;
}

#top-menu-div .has-subs a.has-subs-link:link,
#top-menu-div .has-subs a.has-subs-link:visited {

	background: #FFFFFF url("../../media/images/navigation/subarrow.gif") 200px 5px no-repeat;
}

#top-menu-div .has-subs a.has-subs-link.hover:link,
#top-menu-div .has-subs a.has-subs-link.hover:visited {
	background: #EEEEEE url("../../media/images/navigation/subarrow.gif") 200px 5px no-repeat;
	margin-bottom: 0px
}

#top-menu-div .has-subs a.has-subs-link:hover {
	margin-bottom: 0px;
}
/* EO: Top Menu */



/* BO: Bottom Menu */
#content-main #bottom-menu-div {
	position: relative;
	top: 0px;
	left: 0px;
	width: 824px;
}

#bottom-menu-div #bottom-menu {
	position: absolute;
	top: 16px;
	width: 824px;
	font-family:Arial, Verdana, 'San serif';
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
}

#bottom-menu #copyright-wrap {
	position: relative;
	top: 5px;
	margin-bottom: 15px;
	font-size: 11px;
	color: #505050;
	text-align: center;
}
#copyright-wrap span{ 
	text-transform:uppercase;
}

.subnavigation-link,
.bottom-menu-link {
	padding-right: 15px;	
}
/* EO: Bottom Menu */



/* BO: Box Style */
.box {
	background-color:transparent;
}
.box .top-left {
	background-image:url(../../media/images/box/box-top-left.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	height:6px;
	width:5px;
}
.box .top-back {
	background:url(../../media/images/box/box-top-back.jpg);
	background-position:0px 0px;
	background-repeat:repeat-x;
	width:auto;
}
.box .top-right {
	background:url(../../media/images/box/box-top-right.jpg);
	background-position:bottom right;
	background-repeat:no-repeat;
	height:6px;
	width:5px;
}
.box .body-left {
	border-left:1px solid #A7A7A7;
	color:#FFFFFF;
	width:4px;
}
.box .body {
	text-align:left;
	vertical-align:top;
}
.box .body-right {
	border-right:1px solid #A7A7A7;
	color:#FFFFFF;
	width:4px;
}

.box .bottom-left {
	background-image:url(../../media/images/box/box-bottom-left.jpg);
	background-position:0px 0px;
	background-repeat:no-repeat;
	height:16px;
	width:5px;
}
.box .bottom-back {
	background-image:url(../../media/images/box/box-bottom-back.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	height:16px;
	vertical-align:top;
	width:auto;
}
.box .bottom-right {
	background:url(../../media/images/box/box-bottom-right.jpg);
	background-position:bottom right;
	background-repeat:no-repeat;
	height:16px;
	width:5px;
}


/* EO: Box Styles */
