/* Success Messages Styles Start */
#table_message_ok {
    border: #00aa00 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:80%;
	}

#table_message_ok .message_header_ok {
    background-color: #BAFCBA;
    border-bottom:#00AA00 1px solid;
    font-weight:bold;
    text-align:left;
    vertical-align:middle;
	}

#table_message_ok .message_ok {
    color: #00AA00;
	}

#table_message_ok .message_ok_2 {
    color: #00AA00;
	}
#table_message_ok ul{
	margin-bottom:0px;
	margin-top:0px;
}
/* Error Messages Styles Start */
#table_message_error {
    border: #FF0000 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
    /*width: 450px;*/
	width:80%;
	}

#table_message_error .message_error_header {
    background-color: #FFA9A9;
	border-bottom:#FF0000 1px solid;
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
	}

#table_message_error .message_error {
    color:#FF0000;	
}
#table_message_error ul{
	margin-bottom:0px;
	margin-top:0px;
}
