body {
	margin: 0px;
	padding: 0px;
	/*background: #d1d1d1 url("../../media/images/group-bg.jpg") repeat-x; */
	/*font-family: verdana,sans-serif;
	font-size: 10px;
	color: #292929;
	text-align: center;
	line-height: 13px;*/
	
}

#container{
    font-family:Arial, Verdana, 'San serif';
    font-size:12px;
    width:100%;
    height:auto;
    margin:auto;
    background-color:#ffffff;
}    

#content-page {
	margin: 0px;
	padding: 0px;
}

#content-main {
	top: 0px;
	width: 927px;
	margin: 0px auto;
	padding: 0px;
	border: 0px;
	background: #FFFFFF;
	text-align:left;
	border:0px solid #000000;
}
/* BO: Header */
.un-subscribe-main{
	border-bottom: 0px solid #AAAAAA;
    display: block;
	width:400px;
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.un-subscribe-title{	 
    font-size: 20px;   
}

.un-subscribe-text{	 
   font-size: 12px;   
   line-height:15px;
	
}

#content-main #content-main-inner {
	position: relative;
	top: 0px;
	left: 25px;
	width: 873px;
	height: auto;
	border:0px solid #000000;
}
#content-main #smeerp-header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 873px;
	height: 113px;
}

	#smeerp-header #page-intro {
		color:#797979;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:9px;
		font-weight:normal;
		height: 35px;
		left: 0px;
		position: absolute;
		text-align:center;
		top: 10px;
		width: 774px;
	}
		#page-intro a, #page-intro span{
			color:#797979;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:9px;
			font-weight:normal;
			text-decoration:none;
		}
	#smeerp-header #smeerp-logo {
		position: absolute;
		top: 54px;
		left: 11px;
		width: 236px;
		height: 39px;
		cursor: pointer;
	}
    
		#smeerp-logo #logo{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 239px;
			height: 39px;
			/*cursor: pointer;*/
			/*background:url("../../media/images/group-logo.jpg") no-repeat;*/
		}
		
		#smeerp-logo #motto{
			position: absolute;
			top: 24px;
			left: 0px;
			width: 300px;
			height: 15px;
			cursor: pointer;
			background:url("../../media/images/smeerp-motto.jpg") no-repeat;
		}
	
	#smeerp-header #member-login {
		position: absolute;
		top: 39px;
		right: 0px;
		width: 150px;
		height: 9px;
		cursor: pointer;
		text-align:right;
		vertical-align:middle;
	}
	
	#smeerp-header #tele-contact {
		color:#5A5A5A;
		cursor: pointer;
		font-family:'Century Gothic', Helvetica, sans-serif;
		/*font-family:Arial, Helvetica, sans-serif;*/
		font-size:10px;
		font-weight:normal;
		position: absolute;
		top: 51px;
		right: 0px;
		width: 300px;
		height: 30px;
		cursor: pointer;
		text-align:right;
		vertical-align:middle;
	}
		#tele-contact #tele-contact-1 { /*border:1px solid #666666;*/
			position: absolute;
			top: 0px;
			right:0px;
			height: 18px;
			line-height: 12px;
			margin:0;
			padding:0;
			vertical-align:top;
		}
		#tele-contact #tele-contact-2 { /*border:1px solid #666666;*/
			position: absolute;
			top: 14px;
			right:0px;
			height: 18px;
			line-height: 12px;
			vertical-align:top;
		}
	
	#smeerp-header #search-header {
		position: absolute;
		top: 73px;
		right: 0px;
		width: 200px;
		height: 18px;
		padding: 0px;
		margin: 0px;
		border: 0px;
		vertical-align:middle;
		
	}
	
		#search-header #search-button {
			position: absolute;
			top: 0px;
			left: 162px;
			width: 53px;
			height: 18px;
			padding: 0px;
			margin: 0px;
			z-index: 100;
		}
		
	
		#search {
			width: 139px;
			height: 16px;
			padding: 1px 5px 0px 2px;
			border: 1px solid #666666;
			background: #F7F7F7;
			font-size: 11px;
			color: #292929;
		}
		
		#search-input {
			width: 160px;
			height: 18px;
			margin: 0px;
			border: 1px solid #cdcdcd;
		}
		
		#search-default {
			width: 144px;
			height: 14px;
			padding: 2px 5px 0px 2px;
			border: 0;
			font-size: 11px;
			color: #AAAAAA;
			margin: 0px;top:0px;
			vertical-align:top;
		}


/* EO: Header */

/* BO: Banner for Home Page */

#content-main #page-banner-div {
	position: relative;
	top: 0px;
	left: 0px; 
	width: 873px;
	height: 186px;
	z-index: 100;
}

	#page-banner-div #page-banner {
		position: absolute;
		top: 0px;
		width: 873px;
		height: 186px;
		margin: 0px; 
		padding: 0px;
		border: 0;
	}

		#page-banner #smeerp-banner-01-1 {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 190px;
			background-color:#010101;
			cursor: pointer;
		}
		#page-banner #smeerp-banner-01-2 {
			position: absolute;
			top: 0px;
			left: 293px;
			height: 190px;
			background-color:#010101;
			cursor: pointer;
		}
		#page-banner #smeerp-banner-01-3 {
			position: absolute;
			top: 0px;
			left: 591px;
			height: 190px;
			background-color:#CC0022;
			cursor: pointer;
		}

/* EO: Banner for Home Page */


/* BO: Banner for container Index Page*/

#content-main #content-banner-div {
	position: relative;
	top: 0px;
	left: 0px; 
	width: 873px;
	height: 125px;
	z-index: 100;
}

	#content-banner-div #content-banner {
		position: absolute;
		top: 0px;
		width: 873px;
		height: 125px;
		margin: 0px; 
		padding: 0px;
		border: 0;
	}

		#content-banner #smeerp-content-01-1 {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 50px;
			background-color:#010101;
			cursor: pointer;
			width:516px;
		}
		#content-banner #smeerp-content-01-2 {
			position: absolute;
			top: 0px;
			left: 516px;
			height: 50px;
			background-color:#CC0022;
			cursor: pointer;
			width:258px;
		}

/* EO: Banner for container Index Page */

#content-main #separator1 {
	position: relative;
	top: 4px;
	left: 0px;
	width: 824px;
	height: 0px;
	padding: 0px;
	border-bottom: 1px solid #CCCCCC;
}

html>body #content-main #separator1 {
	position: relative;
	top: 17px;
	left: 0px;
	width: 824px;
	height: 1px;
	background: #CCCCCC;
	border: 0px;
}

/* BO: Page Body */
#content-main #page-body-content {
	position: relative;
	top: 1px;
	left: 0px;
	padding-bottom:5px;
	width: 873px;
	height: auto;

}
html>body #content-main #page-body-content {
	top: 18px;
}
	#page-body-content #coloumn-left {
		border-right:1px solid #999999;
		float:left;
		left:0px;
		margin-bottom:0px;
		padding-bottom:10px;
		padding-right:15px;
		padding-top:10px;
		top:0px;
		width:500px;
	}
	#page-body-content #coloumn-right {
		float:left;
		left:0px;
		margin-bottom:0px;
		padding-bottom:10px;
		padding-left:15px;
		padding-top:10px;
		top:0px;
		width:243px;
	}
	
#content-main #page-body {
	position: relative;
	top: 1px;
	left: 0px;
	width: 873px;
	/*height: 661px;*/
	height: 580px;
	z-index: 100;
}


html>body #content-main #page-body {
	position: relative;
	top: 1px;
	left: 0px;
	width: 873px;
	/*height: 661px;
	height: 580px;*/
	height: 555px;
	background-color:#ffffff;
	z-index: 100;
	
}
	#page-body #home-box1 {
		position: absolute;
		top: 18px;
		left: 20px;
		width: 842px;
		height: 20;
		cursor: pointer;
		margin:0px;	
	}
	
	#page-body #home-box2 {
		position: absolute;
		top: 41px;
		left: 18px;
		width: 842px;
		height: 1px;
		cursor: pointer;
		background-image:url("../../media/images/pink-repeater.jpg");
		background-repeat:repeat-x;
		background-position:top;
	}
	
	#page-body #content-page-body {
		position: absolute;
		top: 45px;
		width: 873px;
		height: 120px;
		margin: 0px; 
		padding: 0px;
			
	}
		#content-page-body #content-page-01-1 {
			position: absolute;
			top: 3px;
			left: 13px;
			height:105px;
		}
		
		#content-page-body #content-page-01-2 {
			position: absolute;
			top: 3px;
			left: 152px;
			height: 105px;
		}
		#content-page-body #content-page-01-3 {
			position: absolute;
			top: 3px;
			left: 296px;
			height: 105px;
			
		}
		#content-page-body #content-page-01-4{
			position: absolute;
			top: 3px;
			left: 439px;
			height: 105px;
			
		}
		#content-page-body #content-page-01-5 {
			position: absolute;
			top: 3px;
			left: 583px;
			height: 105px;
		}
		
		#content-page-body #content-page-01-6 {
			position: absolute;
			top: 3px;
			left: 730px;
			height: 105px;
		}
		
	#page-body #content-page-body1 {
		position: absolute;
		top: 165px;
		width: 873px;
		height: 141px;
		margin: 0px; 
		padding: 0px;
		
	}
		#content-page-body1 #content-page-02-1 {
			position: absolute;
			top: 3px;
			left: 13px;
			height: 141px;
			
		}
		
		#content-page-body1 #content-page-02-2 {
			position: absolute;
			top: 3px;
			left: 152px;
			height: 105px;
			
		}
		#content-page-body1 #content-page-02-3 {
			position: absolute;
			top: 3px;
			left: 296px;
			height: 105px;
			
		}
		#content-page-body1 #content-page-02-4{
			position: absolute;
			top: 3px;
			left: 439px;
			height: 105px;
			
		}
		#content-page-body1 #content-page-02-5 {
			position: absolute;
			top: 3px;
			left: 583px;
			height: 105px;
		}
		
		#content-page-body1 #content-page-02-6 {
			position: absolute;
			top: 3px;
			left: 730px;
			height: 105px;
		}
		
	#page-body #home-box3 {
		position: absolute;
		top: 0px;
		left: 396px;
		width: 180px;
		height: 120px;
		cursor: pointer;
	}
	
	#page-body #home-box4 {
		position: absolute;
		top: 0px;
		left: 594px;
		width: 180px;
		height: 120px;
		cursor: pointer;
	}
	#page-body #smeerp-divisions {
		position: absolute;
		top: 134px;
		left: 0px;
		width: 774px;
		height: 33px;
		cursor: auto;
		padding-top:10px;
		text-align:center;
		vertical-align:middle;
	}
	
html>body #content-main #page-body #smeerp-divisions {
		position: absolute;
		top: 134px;
		left: 0px;
		width: 774px;
		height: 33px;
		cursor: auto;
		padding-bottom:5px;
		padding-top:10px;
		text-align:center;
		vertical-align:middle;
	}
	
	#smeerp-divisions #division-1 {
		position: absolute;
		top: 0px;
		left: 0px;
		cursor: pointer;
		padding-bottom:5px;
		padding-top:10px;
		width:180px;
	}
/*html>body #content-main #page-body #smeerp-divisions #division-1 {
		padding-bottom:5px;
		padding-top:10px;
}*/
	#smeerp-divisions #separator-vertical-1 {
		position: absolute;
		top: 0px;
		left: 187px;
		width: 2px;
		height: 33px;
		padding: 0px;
		border-left: 1px dashed #606060;
	}
	#smeerp-divisions #division-2 {
		position: absolute;
		top: 0px;
		left: 198px;
		height: 33px;
		cursor: pointer;
		padding-bottom:5px;
		padding-top:10px;
		width:180px;
	}
/*html>body #content-main #page-body #smeerp-divisions #division-2 {
		padding-bottom:5px;
		padding-top:10px;
}*/
	#smeerp-divisions #separator-vertical-2 {
		position: absolute;
		top: 0px;
		left: 386px;
		width: 2px;
		height: 33px;
		padding: 0px;
		border-left: 1px dashed #606060;
	}
	#smeerp-divisions #division-3 {
		position: absolute;
		top: 0px;
		left: 396px;
		height: 33px;
		cursor: pointer;
		padding-bottom:5px;
		padding-top:10px;
		width:180px;
	}
/*html>body #content-main #page-body #smeerp-divisions #division-3 {
		padding-bottom:5px;
		padding-top:10px;
}*/
	#smeerp-divisions #separator-vertical-3 {
		position: absolute;
		top: 0px;
		left: 584px;
		width: 2px;
		height: 33px;
		padding: 0px;
		border-left: 1px dashed #606060;
	}
	#smeerp-divisions #division-4 {
		position: absolute;
		top: 0px;
		left: 594px;
		height: 33px;
		cursor: pointer;
		padding-bottom:5px;
		padding-top:10px;
		width:180px;
	}
/*html>body #content-main #page-body #smeerp-divisions #division-4 {
		padding-bottom:5px;
		padding-top:10px;
}*/
	
	table.box td.heading {
		color:#000000;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		line-height:15px;
		text-align:center;
	}
	table.box td.text {
		color:#606060;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:normal;
		line-height:13px;
		padding:5px 1px 5px 5px;
		text-align:left;
	}
	table.box td.title {
		color:#000000;
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		padding:0px 0px 0px 3px;
		text-align:left;
	}

	.title-black {
		color:#010101;
		font-family:"Arial Black", Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
	}
	.title-red {
		color:#CC0022;
		font-family:"Arial Black", Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
	}
/* EO: Page Body */

/* BO: Footer Ticker */
#content-main #footer {
	position: relative;
	top: 5px;
	left: 0px;
	width: 873px;
	height: 10px;
	/*border-top: 1px solid #CCCCCC;*/
}
html>body #content-main #footer {
	position: relative;
	top: 5px;
	left: 0px;
	width: 873px;
	height: 10px;
	/*border-top: 1px solid #CCCCCC;*/
}

	#footer #ticker-footer {
		color:#959595;
		position: relative;
		top: 0px;
		left: 0px;
		width: 873px;
		height: 10px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		text-align:center;
		vertical-align:middle;
	}
		#ticker-footer #ticker_contents {
			display:none;
		}
		#ticker-footer #ticker_scroll {
			position: relative;
			width: 873px;
			height: 10px;
			left: 0px;
			top: 15px;
			vertical-align:middle;
		}
		#ticker-footer .scrollText {
			padding:1px 10px 1px 10px;
			white-space:nowrap;
		}
		#ticker-footer .product {
			color:#959595;
			font-family:Arial, Helvetica, sans-serif;
			font-size:14px;
			font-weight:bold;
			padding:1px 10px 1px 10px;
		}
		#ticker-footer a.ticker {
			color:#666666;
			font-family:verdana;
			font-size:11px;
			font-weight:normal;
			text-align:center;
			text-decoration:none;
		}
		#ticker-footer a.ticker:hover {
			color:#AD001C;
			font-family:verdana;
			font-size:11px;
			font-weight:normal;
			text-align:center;
			text-decoration:underline;
		}

		#ticker-footer #product-1 {
			position: absolute;
			top: 0px;
			left: 3px;
			height: 13px;
			cursor: pointer;
			padding-bottom:15px;
			padding-top:15px;
			width:96px;
		}
		#ticker-footer #product-2 {
			position: absolute;
			top: 0px;
			left: 99px;
			height: 13px;
			cursor: pointer;
			padding-bottom:15px;
			padding-top:15px;
			width:96px;
		}
		#ticker-footer #product-3 {
			position: absolute;
			top: 0px;
			left: 195px;
			height: 13px;
			cursor: pointer;
			padding-bottom:15px;
			padding-top:15px;
			width:96px;
		}
		#ticker-footer #product-4 {
			position: absolute;
			top: 0px;
			left: 291px;
			height: 13px;
			cursor: pointer;
			padding-bottom:15px;
			padding-top:15px;
			width:96px;
		}
		#ticker-footer #product-5 {
			position: absolute;
			top: 0px;
			left: 387px;
			height: 13px;
			cursor: pointer;
			padding-bottom:15px;
			padding-top:15px;
			width:96px;
		}
		#ticker-footer #product-6 {
			position: absolute;
			top: 0px;
			left: 483px;
			height: 13px;
			cursor: pointer;
			padding-bottom:15px;
			padding-top:15px;
			width:96px;
		}
		#ticker-footer #product-7 {
			position: absolute;
			top: 0px;
			left: 579px;
			height: 13px;
			line-height: 13px;
			cursor: pointer;
			padding-bottom:15px;
			padding-top:15px;
			width:96px;
		}
		#ticker-footer #product-8 {
			position: absolute;
			top: 0px;
			left: 675px;
			height: 13px;
			line-height: 13px;
			cursor: pointer;
			padding-bottom:15px;
			padding-top:15px;
			width:96px;
		}


/* EO: Footer Ticker */


table {
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
}

table {
	border-collapse: collapse;
}
html>body table {
	border-collapse: separate;	
}

tr {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

td {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family:Arial, Helvetica, sans-serif;
	color: #606060;
	font-size: 11px;
	line-height: 12px;
}

td.percent {
	background: transparent url("../../media/images/elements/searchrank.gif") repeat;
}

a {
	color: #AD001C;
	text-decoration: none;
}

a:hover {
	color: #AD001C;
	text-decoration: underline;
}

a.footer,
a.dead {
	color: #505050;
	text-decoration: none;
}

a.footer:hover,
a.dead:hover {
	color: #505050;
	text-decoration: underline;
}

/*ul.bullet {
	list-style-type: none;
	margin: 0px; 
	padding: 0px;
	border: 0px;
}*/

/*li.bullet {
	position: relative;
	margin: 0px; 
	padding: 2px 5px 2px 7px;
	border: 0px;
	background: transparent url("../../media/images/elements/bullet.gif") no-repeat 0px 6px;
}*/

/*li.redbullet {
	position: relative;
	margin: 0px; 
	padding: 2px 5px 2px 7px;
	border: 0px;
	background: transparent url("../../media/images/elements/redbullet.gif") no-repeat 0px 6px;
}*/

/*li.subbullet {
	position: relative;
	margin-left: 10px; 
	padding: 0px 5px 0px 16px;
	border: 0px;
	background: transparent url("../../media/images/elements/subbullet.gif") no-repeat 3px 4px;
}*/

/*li.pdf {
	position: relative;
	margin: 0px; 
	padding: 3px 5px 4px 20px;
	border: 0px;
	background: transparent url("../../media/images/elements/pdficon.gif") no-repeat 0px 0px;	
}*/

/*input.form {
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 9pt;
}*/

/*input.form:hover {
	cursor: pointer;
}*/

textarea {
	font-size: 8pt;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #292929;
}

/*textarea.fill {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #292929;
	width: 100%;
	font-size: 8pt;
}*/

select {
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 7pt;
	padding: 0px;
	margin: 0px;
}

/*.input-text {
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 7pt;
}*/

/*.breadcrumb {
	padding-right: 15px;
	background: transparent url("../../media/images/elements/breadcrumbarrow.gif") no-repeat right;
}*/

/*.red {
	color: #AD001C;
}

.gray {
	color: #292929;
}

.dead {
	color: #AAAAAA;
}*/

/*.searchhighlightedtitle {
	background: #BFDBE9;
	border: 1px solid #BFDBE9;
}*/

/*.searchhighlighted {
	background: #D3E4C4;
	border: 1px solid #D3E4C4;
}*/

/*.separator {
	position: relative;
	top: 0px;
	left: 0px;
	width: 580px;
	margin-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #999999;
}*/

/*.sidebar {
	position: relative;
	top: 0px;
	left: 0px;
	width: 261px;
	margin-bottom: 30px;
}*/

/*.sitemap-level-1 {

	font-weight: bold;
	color: #AD001C;
	
	padding: 1px 5px 1px 0px;
}*/

/*.sitemap-level-2 {
	font-weight: bold;
	padding: 1px 5px 1px 0px;
}*/

/*.sitemap-level-3 {
	padding: 1px 5px 1px 7px;
	background: transparent url("../../media/images/elements/bullet.gif") no-repeat 0px 5px;
}*/

/*.smalltext {
	font-size: 9px;
}*/

/* This is faltoo */


.abc-text{
  padding-top:10px;
  padding-bottom:10;
  font-weight:bold;
  color:#b82923;
}

.test{
  padding-top:10px;
  padding-bottom:10;
  font-weight:bold;
  color:#b82923;

}

/* css for smeerptech.com 19-august-09 */

.fl{
	float:left;
}
.cl{clear:both;}

.black-box{
	vertical-align:absmiddle;
	border:0px solid #000000;
}

.black-box1{
	color:#000000;
	vertical-align:absmiddle;
	border:1px solid #000000;
}


#inner-container{
    font-family:Arial, Verdana, 'San serif';
    font-size:12px;
    width:927px;
    height:auto;
    margin:auto;
	line-height:1px;
}

.menu-text {
    font-family:Arial, Verdana, 'San serif';
    font-size:11px;
    font-weight:regular;
    color:#ffffff;
    text-decoration:none;   
}

.menu-text a{
  	font-family:Arial, Verdana, 'San serif';
    font-size:11px;
    font-weight:regular;
    color:#ffffff;
    text-decoration:none;
 	display:block;
  	/*background-color:#000000;  */
  	padding-top:5px;
    padding-bottom:5px;
    padding-left:7px;
    padding-right:7px;
}

.menu-text a:hover{ 	
  	color:#ffffff;
    text-decoration:none;
    background-image:url("../../media/images/top-menu-hover.jpg");
	background-repeat:repeat-x;
}

.oes-text {
    font-family:Arial, Verdana, 'San serif';
    font-size:1px;
    font-weight:regular;
    color:#000000;
    text-decoration:none;   
	line-height:1px;
}

.oes-text a{
    font-family:Arial, Verdana, 'San serif';
    font-size:1px;
    font-weight:regular;
    color:#000000;
    text-decoration:none;  
	line-height:1px;	
}

.oes-text a:hover{ 	
    font-family:Arial, Verdana, 'San serif';
    font-size:1px;
    font-weight:regular;
    color:#000000;
    text-decoration:none;   
	line-height:1px;	
}


/* BOF login block */

#page-login-div {
	position: relative;
	top: 0px;
	left: 0px; 
	width: 927px;
	height:4px;
	z-index: 100;
}

#page-login-div #page-login {
		position: absolute;
		top: 0px;
		width: 927px;
		height:33px;
		margin: 0px; 
		padding: 0px;
		border: 0;
	}

		#page-login #smeerp-login-01-1 {
			position: absolute;
			top: 8px;
			right:425px;
			height:19px;
            border:0px solid #000000;
		
		}
		#page-login #smeerp-login-01-2 {
			position: absolute;
			top: 40px;
			right:141px;
			height:15px;
			border:0px solid #000000;
		}
		#page-login #smeerp-login-01-3 {
			position: absolute;
			top: 10px;
			right:92px;
			height:15px;
			 border:0px solid #000000;
		}
		
		#page-login #smeerp-login-01-4 {
			position: absolute;
			top: 40px;
			right:7px;
			height:15px;
			 border:0px solid #000000;
		}


.sales-text{
	font-family:Arial, Verdana, 'San serif';
    font-size:12px;
    font-weight:bold;
    color:#777777;
    text-decoration:none;  
}

.sales-text a{
	font-family:Arial, Verdana, 'San serif';
    font-size:11px;
    font-weight:bold;
    color:#777777;
    text-decoration:none;  
}

.sales-text a:hover{
    color:#777777;
    text-decoration:none;  
}

/* EOF login block */

.content-text {
	font-weight: regular;
	font-size:9px;
	line-height:11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #656565;
}

.business-text {
	font-weight: regular;
	font-size:18px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #b50b10;
}

.news-head {
	font-weight: regular;
	/*font-style: italic;*/
	font-size:18px;
	font-family:Arial,  Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #000000;
}

.news-text{
	font-weight: bold;
	font-size:12px;
	font-family:Arial,  Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #aa0108;
}

.news-text a{
	font-weight: bold;
	font-size:12px;
	font-family:Arial,  Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #aa0108;
}

.news-text a:hover{
	text-decoration: none;
	color: #aa0108;
}

.news-text-readmore{
	font-weight: bold;
	font-size:12px;
	font-family:Arial,  Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #3e3e3e;
}

.news-text-readmore a{
	font-weight: bold;
	font-size:12px;
	font-family:Arial,  Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #3e3e3e;
}

.news-text-readmore a:hover{
	text-decoration: none;
	color: #3e3e3e;
}


.news-content{
	font-weight: regular;
	font-size:11px;
	font-family:Arial,  Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #000000;
}

		
	#page-body #content-page-body-news {
		position: absolute;
		top: 278px;
		width: 873px;
		height: 246px;
		margin: 0px; 
		padding: 0px;
		border:0px solid #000000;
		
	}
		#content-page-body-news #content-page-03-1 {
			position: absolute;
			top: 0px;
			left: 19px;
			width: 264px;
			height: 246px;
			background-image:url("../../media/images/news-bg.jpg");
			background-repeat:no-repeat;
			border:0px solid #000000;
		}
		
			#content-page-body-news #content-page-03-1 #content-news-01-1{
				position: absolute;
				top: 13px;
				left: 16px;
				width: 16px;
				height:19px;
				border:0px solid #000000;
				
			}
			
			#content-page-body-news #content-page-03-1 #content-news-01-2{
				position: absolute;
				top: 10px;
				left: 41px;
				width: 200px;
				height:20px;
				border:0px solid #000000;
				
			}
			#content-page-body-news #content-page-03-1 #content-news-01-3{
				position: absolute;
				top: 17px;
				right: 16px;
				width: 12px;
				height:12px;
				border:0px solid #000000;
				
			}
			
			#content-page-body-news #content-page-03-1 #content-news-01-4{
				position: absolute;
				top: 37px;
				left: 16px;
				width: 232px;
				height: 1px;
				background-image:url("../../media/images/news-line-repeater.jpg");
				background-repeat:repeat-x;
				border:0px solid #000000;
				
			}
			
			#content-page-body-news #content-page-03-1 #content-news-01-5{
				position: absolute;
				top: 49px;
				left: 23px;
				width: 212px;
				height:108px;
				border:0px solid #000000;
				
			}
			
			#content-page-body-news #content-page-03-1 #content-news-01-6{
				position: absolute;
				bottom: 10px;
				right: 28px;
				width: 65px;
				height:15px;
				border:0px solid #000000;
				
			}
		
		#content-page-body-news #content-page-03-2 {
			position: absolute;
			top: 0px;
			left: 304px;
			width: 264px;
			height: 246px;
			background-image:url("../../media/images/news-bg.jpg");
			background-repeat:no-repeat;
			border:0px solid #000000;
			
		}	
				
				#content-page-body-news #content-page-03-2 #content-news-02-1{
					position: absolute;
					top: 13px;
					left: 16px;
					width: 16px;
					height:19px;
					border:0px solid #000000;
				}
				
				#content-page-body-news #content-page-03-2 #content-news-02-2{
					position: absolute;
					top: 10px;
					left: 41px;
					width: 200px;
					height:20px;
					border:0px solid #000000;
					
				}
				
				#content-page-body-news #content-page-03-2 #content-news-02-3{
					position: absolute;
					top: 17px;
					right: 16px;
					width: 12px;
					height:12px;
					border:0px solid #000000;	
				}
				
				#content-page-body-news #content-page-03-2 #content-news-02-4{
					position: absolute;
					top: 37px;
					left: 16px;
					width: 232px;
					height: 1px;
					background-image:url("../../media/images/news-line-repeater.jpg");
					background-repeat:repeat-x;
					border:0px solid #000000;
					
				}
				
				#content-page-body-news #content-page-03-2 #content-news-02-5{
					position: absolute;
					top: 49px;
					left: 23px;
					width: 212px;
					height:108px;
					border:0px solid #000000;
					
				}
				
				#content-page-body-news #content-page-03-2 #content-news-02-6{
				position: absolute;
				bottom: 10px;
				right: 28px;
				width: 65px;
				height:15px;
				border:0px solid #000000;
				
			}
				
				
		#content-page-body-news #content-page-03-3 {
			position: absolute;
			top: 0px;
			left: 590px;
			width: 264px;
			height: 246px;
			background-image:url("../../media/images/news-bg.jpg");
			background-repeat:no-repeat;
			border:0px solid #000000;
			
		}	
				
				#content-page-body-news #content-page-03-3 #content-news-03-1{
					position: absolute;
					top: 13px;
					left: 16px;
					width: 16px;
					height:19px;
					border:0px solid #000000;
				}
				
				#content-page-body-news #content-page-03-3 #content-news-03-2{
					position: absolute;
					top: 10px;
					left: 41px;
					width: 200px;
					height:20px;
					border:0px solid #000000;
					
				}
				
				#content-page-body-news #content-page-03-3 #content-news-03-3{
					position: absolute;
					top: 17px;
					right: 16px;
					width: 12px;
					height:12px;
					border:0px solid #000000;	
				}
				
				#content-page-body-news #content-page-03-3 #content-news-03-4{
					position: absolute;
					top: 37px;
					left: 16px;
					width: 232px;
					height: 1px;
					background-image:url("../../media/images/news-line-repeater.jpg");
					background-repeat:repeat-x;
					border:0px solid #000000;
					
				}
				
				#content-page-body-news #content-page-03-3 #content-news-03-5{
					position: absolute;
					top: 49px;
					left: 23px;
					width: 212px;
					height:108px;
					border:0px solid #000000;
					
				}
				
				#content-page-body-news #content-page-03-3 #content-news-03-6{
				position: absolute;
				bottom: 10px;
				right: 28px;
				width: 65px;
				height:15px;
				border:0px solid #000000;
				
			}
				
	#page-body #page-flash {
			position: absolute;
			top: 526px;
			left: 17px;
			width: 264px;
			height:118px;
			border:0px solid #000000;
		}	
		
	#page-body #page-special {
			position: absolute;
			top: 590px;
			right:0px;
			width: 164px;
			height:55px;
			border:0px solid;
		}		
		
#padding1{padding-top:5px;}
#padding2{padding-left:15px;padding-top:5px;padding-bottom:8px;}
#padding3{padding-left:10px;}

#page-host-div {
	position: relative;
	top: 0px;
	left: 0px; 
	width: 927px;
	height:110px;
	z-index: 100;
	background-color:#d1d1d1;
}

#page-host-div #page-bottom-img {
		position: absolute;
		top: 0px;
		width: 927px;
		height:12px;
		margin: 0px; 
		padding: 0px;
		border: 0px solid #000000;
	}

#page-host-div #page-host {
		position: absolute;
		top: 22px;
		width: 927px;
		height:110px;
		margin: 0px; 
		padding: 0px;
		border: 0px solid #000000;
	}

		#page-host #smeerp-host-01-1 {
			position: absolute;
			top: 8px;
			left: 30px;
			height:110px;
			border: 0px solid #000000;
		
		}
		#page-host #smeerp-host-01-2 {
			position: absolute;
			top: 8px;
			left: 283px;
			height:110px;
			border: 0px solid #000000;
			
		}
		#page-host #smeerp-host-01-3 {
			position: absolute;
			top: 8px;
			left: 539px;
			height:110px;
			border: 0px solid #000000;
			
		}
		#page-host #smeerp-host-01-4 {
			position: absolute;
			top: 8px;
			left: 761px;
			height:110px;
			border: 0px solid #000000;
			
		}

#page-black-block-div {
	position: relative;
	top: 32px;
	left: 0px; 
	width: 100%;
	height:0px;
	z-index: 100;
}

		#page-black-block-div #page-black-block {
		position: absolute;
		top: 0px;
		width: 100%;
		height:26px;
		margin: 0px; 
		padding: 0px;
		border: 0px solid #000000;
		background-color:#000000;
	}

		
.host-text {
	font-weight: bold;
	font-size:10px;
	font-family:Verdana,  Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #5c5c5c;
}

.bullet-img{
	list-style-image: url('../../media/images/bullet.jpg');
}

.host-data {
	font-weight: regular;
	font-size:10px;
	font-family:Verdana,  Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #7d7d7d;
}

ul.listsmall {
	list-style-type: none;
	margin: 0px; 
	padding: 0px;
	border: 0px;
	line-height: 10px;
}

ul.listsmall li.listitemfooter {
	position: relative;	
	margin: 0px; 
	padding: 1px 5px 0px 10px;
	border: 0px;
	background: transparent  url('../../media/images/bullet.jpg') no-repeat 0px 5px;
	margin-bottom: 3px;
}

.pt5{
 padding-top:5px;
}
.pt10{padding-top:10px;}

.bottom-data {
	font-weight: regular;
	font-size:11px;
	font-family:Verdana,  Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #cbcbcb;
}


#currently #features {
	height: 190px;
	overflow: hidden;
	border:0px;
}

#hr-repeater{
    font-family:Arial, Verdana, 'San serif';
    font-size:12px;
    width:927px;
   	background-image:url("../../media/images/inner-hr-repeater.jpg");
	background-repeat:repeat-x;
	background-position:center;
	border:0px solid #000000;
}

.breadcrumbs-text{
	font-weight: regular;
	font-size:9px;
	font-family:Verdana,  Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #747474;

}

.breadcrumbs-text a{
	font-weight: regular;
	font-size:9px;
	font-family:Verdana,  Arial, Helvetica, sans-serif;

	color: #747474;

}

.breadcrumbs-text a:hover{
	color: #747474;

}


/*BOF css for contact form*/
.field_input{	
    border:1px solid #cccccc;
	color:#989494;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
	font-weight:regular;
	margin:0;
	padding:2px;
	top:0;
	vertical-align:top;
}

.field_input_dark{	
    border:1px solid #cccccc;
	color:#3a3737;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:2px;
	top:0;
	vertical-align:top;
}



.validator {
	font-size:11px;
	color:#FF0000;
	font-weight:bold;
}


input.form {
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	color: #505050;
	font-family: verdana,sans-serif;
	font-size: 11px;
}

input.form:hover {
	cursor: pointer;
}

input.contactinput {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	color: #505050;
	font-family: verdana,sans-serif;
	font-size: 11px;
	padding: 1px 4px 2px 4px;
}

input.contactinput:hover {
	cursor: pointer;
}

/*BOF css for contact form*/


.bookmark-txt {
	font-family: Arial, Verdana,'San serif';
	font-size:11px;
	color:#392d1c;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
}


			
#content-main #content-bookmark {
	position: relative;
	top: 0px;
	left: 0px;
	width: 927px;
	height: 30px;
	border:0px solid #000000;
	z-index: 100;
}		
		
	#content-bookmark #content-bookmark1 {
		position: absolut;
		top: 0px;
		width: 134px;
		height: 30px;
		margin: 0px; 
		padding: 0px;
		background-image:url("../../media/images/bookmark-repeater.jpg");
		background-repeat:repeat-x;
		background-position:top;
		border:0px solid #000000;
	}
	#content-bookmark #content-bookmark2 {
		position: absolute;
		top: 0px;
		left:134px;
		width: 380px;
		height: 30px;
		margin: 0px; 
		padding: 0px;
		border:0px solid #000000;
	}
	
	#content-bookmark #content-bookmark3 {
		position: absolute;
		top: 0px;
		left:514px;
		width: 413px;
		height: 30px;
		margin: 0px; 
		padding: 0px;
		border:0px solid #000000;
	}


table.box_content {
   /* border:1px solid #ECECEC;*/
   /* padding:2px;*/
    width:96%;
}
table.box_content td {
   padding:4px 4px 4px 0px;
}
table.box_content tr.header {
    /*background-color:#ECECEC;*/
    color: #999999;
    height:20px;
   /* padding:2px;*/
    width:100%;
}
table.box_content span.header {
    color: #999999;
    font-weight :bold;
    text-decoration:none;
    font-family: arial;
	font-size: 19px;
	letter-spacing: 0em;
	line-height: 19px;
	font-weight: normal;
}
table.box_content tr.header_sub {
   /* background-color:#FCFCFC;*/
    height:20px;
   /* padding:2px;*/
    width:100%;
}
table.box_content span.header_sub {
   /* color:#000000;*/
    font-weight:bold;
    font-family: verdana,sans-serif;
	font-size: 11px;
	color: #505050;
	line-height: 16px;
    text-decoration:none;
}
table.box_content tr.even {
   /* background-color:#FCFCFC;*/
    height:15px;
  	 padding:2px;
    width:100%;
}
table.box_content tr.odd {
    /*background-color:#FFFFFF;*/
    height:15px;
    padding:2px;
    width:100%;
}
table.box_content a.events {
    border-bottom:1px solid #ECECEC;
    color:#AD001C;
    text-decoration:none;
}
table.box_content a.events:hover {
    border-bottom:1px solid #AD001C;
}
table.box_content td.text {
    font-size-adjust:2px;
}
table.box_content .pagination a {
    border-bottom:1px solid #ECECEC;
    color:#AD001C;
    text-decoration:none;
}
table.box_content .pagination a:hover {
    border-bottom:1px solid #AD001C;
    text-decoration:none;
}

.normal_heading{
	color: #555555;
	font-family: arial;
	font-size: 15px;
	letter-spacing: 0em;
	line-height: 15px;
	font-weight: normal;
}

.news-date{
    font-family: verdana,sans-serif;
	font-size: 11px;
	color: #505050;
	line-height: 16px;
}

#space{
    padding:5px;
}

.field_input{	
    border:1px solid #cccccc;
	color:#989494;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
	font-weight:regular;
	margin:0;
	padding:2px;
	top:0;
	vertical-align:top;
}

.field_input_dark{	
    border:1px solid #cccccc;
	color:#3a3737;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:2px;
	top:0;
	vertical-align:top;
}

.field_text {
	font-family: "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	font-size:13px;
	padding-left:10px;
	height:5px;
	text-align:left;
	background-color:#F3F3F3;
}

/*
buttoncolor,a.buttoncolor,input.buttoncolor{
	display:inline-block;
	width:auto;
	padding:0.3em 0.5em;
	border:0;
	background:#e3e3e3 url(../../media/images/button-hover.gif) no-repeat left top;
	background-repeat:no-repeat;
	width:100px;
	height:25px;	
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:12px;	
	color:#666666;
}    

buttoncolor:hover,a.buttoncolor:hover,input.buttoncolor:hover{
	background:#fff url(../../media/images/button.gif) no-repeat left top;
	width:100px;
	height:25px;
	border:0;
	text-decoration:none;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-size:12px;	
	color:#666;
}
*/