/*
 * FCKeditor - The text editor for internet
 * Copyright (C) 2003-2005 Frederico Caldeira Knabben
 * 
 * Licensed under the terms of the GNU Lesser General Public License:
 * 		http://www.opensource.org/licenses/lgpl-license.php
 * 
 * For further information visit:
 * 		http://www.fckeditor.net/
 * 
 * "Support Open Source software. What about a donation today?"
 * 
 * File Name: fck_editorarea.css
 * 	This is the default CSS file used by the editor area. It defines the
 * 	initial font of the editor and background color.
 * 
 * 	A user can configure the editor to use another CSS file. Just change
 * 	the value of the FCKConfig.EditorAreaCSS key in the configuration
 * 	file.
 * 
 * File Authors:
 * 		Frederico Caldeira Knabben (fredck@fckeditor.net)
 */

body
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	margin: 0px;
	border-style: none;
	background-color: #ffffff;
}

/* 
	Just uncomment the following block if you want to avoid spaces between 
	paragraphs. Remember to apply the same style in your output front end page.
*/
/*
P, UL, LI
{
	margin-top: 0px;
	margin-bottom: 0px;
}
*/

.Bold
{
	font-weight: bold;
}

.Title
{
	font-weight: bold;
	font-size: 18px;
	color: #cc3300;
}
 .orangetext
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FA7717;
	font-weight:bold;
}
.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}