body{
background-color:#e8eaed;
}
#container
{
margin:0 auto;
width:800px;
}
#updates
{
position:relative;
padding:20px 0px 20px 0px;
}
#updates:before
{
content: '';
position: absolute;
top: 0px;
bottom: 0;
width: 5px;
background: #999 ;
margin: 0;
}
#updates b{color:#006699}
.timeline_square
{
width:12px;
height:12px;
display:block;
position: absolute;
left:-4px;
border-top:3px solid #e8eaed;
border-bottom:3px solid #e8eaed;
margin-top:-8px;
}
.stbody
{
min-height:50px;
background-color:#ffffff;
padding:10px;
width:700px;
margin-left:30px;
margin-bottom:10px;
border: 0px solid #dfdfdf;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.stdate
{
min-height:40; 
font-size:15px;
color:#ffffff;
font-family:Arial, Helvetica, sans-serif;
background-color:#ea4949;
font-weight:bold;
padding:10px;
width:700px;
margin-left:30px;
margin-bottom:10px;
border: 0px solid #dfdfdf;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.sttitle
{
min-height:20; 
font-size:15px;
color:#333333;
font-family:Arial, Helvetica, sans-serif;
background-color:#ffffff;
font-weight:strong;
padding:10px;
width:700px;
margin-left:30px;
margin-bottom:10px;
border: 0px solid #dfdfdf;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.stimg
{
float:left;
height:50px;
width:50px;
border:solid 1px #dedede;
padding:2px;
}
.sttext
{
margin-left:70px;

min-height:50px;
word-wrap:break-word;
overflow:hidden;
padding:5px;
display:block;
font-family:'Georgia', Times New Roman, Times, serif
}
.sttime
{
font-size:11px;
color:#999;
font-family:Arial, Helvetica, sans-serif;
margin-top:5px;
}
.stimg img
{
width:50px;height:50px
}
.stdelete
{
float:right;
cursor:pointer;
font-family:arial;
}
.stexpand
{
margin-top:5px;
}
.color1
{
background-color:#f37160
}
.color2
{
background-color:#50b848
}
.color3
{
background-color:#f39c12
}
.color4
{
background-color:#0073b7
}
.color5
{
background-color:#00acd6
}
.effectHinge
{
animation:hinge 1s;
-webkit-animation:hinge 1s; /* Safari and Chrome */
}